# **Telecom Data Analysis Project to Improve Service Quality**

# **Business Overview**

The telecommunications industry is a rapidly growing sector that is constantly evolving to meet the demands of consumers. As technology advances and user behavior changes, telecom operators face a variety of challenges that can impact their business success. In order to stay competitive and meet customer needs, it is important for telecom companies to regularly analyze their data to identify relevant problems and opportunities for improvement.

The aim of this project is to explore the telecom data and find relevant problems faced by telecom operators. By conducting an exploratory data analysis (EDA) on a large volume of telecom data, we can gain valuable insights into user behavior, network performance, customer demographics, and more. Through this analysis, we hope to identify potential areas for improvement, such as  improving customer satisfaction, optimizing network performance and increasing revenue through targeted marketing efforts.

The insights gained from this project can help telecom operators make informed decisions about their business strategy, enabling them to better meet the needs of their customers and stay competitive in the market. 


![image.png](https://images.pexels.com/photos/189524/pexels-photo-189524.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)

## **Approach**

* Univariate Data Analysis:
    * Create histograms to visualize the distribution of the variables related to the hypotheses.
    * Use countplots to compare the frequencies of different categorical variables with respect to the hypotheses.
    * Create box plots to visualize the median, quartiles, and outliers of the continuous variables with respect to the hypotheses.


* Bivariate Data Analysis:
    * Create scatter plots to investigate the relationship between two continuous variables related to the hypotheses.
    * Create box plots to compare the distributions of the continuous variables with respect to the categorical variables related to the hypotheses.
    * Chi-Square Test and ANOVA:
        * Perform the chi-square test to evaluate the relationship between two categorical variables related to the hypotheses.
        * Use ANOVA to evaluate the difference in means between two or more groups related to the hypotheses.

* Multivariate Data Analysis:
    * Use correlation analysis to investigate the strength and direction of the relationship between multiple continuous variables related to the hypotheses.


* Project Summary:
    * Analyze the results obtained from the above tests to draw conclusions about the hypotheses.
    * Provide recommendations to improve customer satisfaction and retention based on the findings.

## **Learning Outcomes**


* Apply univariate data analysis techniques such as histograms, countplots, and box plots to visualize and explore the distribution of variables related to the hypotheses.

* Use bivariate data analysis techniques such as scatter plots and box plots to investigate the relationship between two continuous variables or compare the distribution of continuous variables with respect to categorical variables related to the hypotheses.

* Perform statistical tests such as chi-square and ANOVA to evaluate the relationship between two categorical variables or differences in means between groups related to the hypotheses.

* Apply multivariate data analysis techniques such as correlation analysis to investigate the strength and direction of the relationship between multiple continuous variables related to the hypotheses.

* Draw conclusions and provide recommendations based on the findings of the analysis to improve customer satisfaction and retention.

* Understand the importance of data analysis in making informed business decisions and its applications in the telecommunications industry.

* Develop critical thinking and problem-solving skills by analyzing complex data sets and identifying patterns and trends to support business decision-making.

* Improve data visualization skills by creating effective visual representations of data using different techniques and tools.

* Enhance your statistical analysis skills by applying statistical tests and techniques to evaluate hypotheses and draw conclusions based on the results.

## **Prerequisites**

* Familiarity with Python programming language

* Familiarity with Pandas, sklearn, numpy libraries in Python, along with concepts like loops, lists, arrays and dataframe.

* You should have a fundamental understanding of data analysis techniques and their applications in solving business problems. This includes descriptive statistics, data visualization, and statistical inference.

## **Execution Instructions**

<details>
    <summary>Click here to view more</summary>


### **Installation and Setup for IPYNB**

For the best experience, please stay connected to the internet while executing this Project

#### **Running an IPYNB on Google Colab**:

* Open the [Google Colab website](https://colab.research.google.com/).
* Click on the "New Notebook" button.
* Click the "File" menu in the new notebook and choose "Upload notebook."
* Select the IPYNB file(notebooks/telco_data_analysis.ipynb) you want to upload.
* Once the file is uploaded, click on the "Runtime" menu and choose "Run all" to execute all the cells in the notebook.
* Alternatively, you can execute each cell individually by clicking the "Play" button next to the cell OR by pressing `"shift” + "enter"`.
* The Default version of Python that Colab uses currently is 3.8

#### **Python setup steps for Local Machine**:
* If you're using a local machine and do not have Python installed, follow these steps to set up Python:
* Download and install the latest version of Python from the official Python website: https://www.python.org/downloads/.
* Once the installation is complete, open a command prompt/terminal and type the following command to check if Python is installed `python –-version`
* If Python is installed, the version number will be displayed.
* This Project has been created using **Python version 3.8.10**

#### **Setting up a Python Virtual Environment on Windows**

* Open a command prompt by pressing `Windows Key + R`, type `cmd`, and press `Enter`.
* Navigate to the directory where you want to create the virtual environment.
* Install virtualenv by running the command in the command prompt `pip install virtualenv`
* Create a new virtual environment by running the command `virtualenv env`
* This will create a new directory called `env`, containing the virtual environment.
* Activate the virtual environment by running the command `env\Scripts\activate`
* You can now install packages and work on your project within this virtual environment.
* To deactivate the virtual environment, simply run the command `deactivate`

#### **Setting up a Python Virtual Environment on Mac**

* Open the Terminal by pressing `Command + Spacebar`, type `Terminal`, and press `Enter`.
* Navigate to the directory where you want to create the virtual environment.
* Install virtualenv by running the following command in the terminal `pip install virtualenv`
* Create a new virtual environment by running the following command `virtualenv env`
* This will create a new directory called `env`, containing the virtual environment.
* Activate the virtual environment by running the following command `source env/bin/activate`
* You can now install packages and work on your project within this virtual environment.
* To deactivate the virtual environment, simply run the following command `deactivate`

#### **Setting up a Python Virtual Environment on Linux**

* Open the Terminal by pressing `Ctrl + Alt + T`.
* Navigate to the directory where you want to create the virtual environment.
* Install `virtualenv` by running the following command in the terminal `sudo apt-get install python3-virtualenv`
* Create a new virtual environment by running the following command `virtualenv -p python3 env`
* This will create a new directory called `env`, containing the virtual environment.
* Activate the virtual environment by running the following command `source env/bin/activate`
* You can now install packages and work on your project within this virtual environment.
* To deactivate the virtual environment, simply run the following command `deactivate`

#### **Installing Jupyter with pip**
If pip is installed on your local machine, you can install Jupyter. 

Here are the steps:
* Open the command prompt (Windows) or terminal (Mac/Linux).
* Install Jupyter with pip by running the following command `pip install jupyter`
* Launch Jupyter Notebook by running the following command `jupyter notebook`

#### **Installing Jupyter with Conda**

* Download and install Anaconda from the official website: https://www.anaconda.com/products/individual.
* Open the Anaconda Navigator App and launch Jupyter Notebook 
* Running IPYNB in Jupyter Notebook
* Open Terminal / Command Prompt and Navigate to the notebooks directory using cd
* Launch Jupyter Notebook by running the following command jupyter notebook
* This will open a browser window displaying the Jupyter interface.
* Click on the IPYNB file you want to open.
* To execute all the cells in the notebook, click on the "Cell" menu and choose "Run all".
* Alternatively, you can execute each cell individually by clicking on the "Play" button next to the cell.



# Executing the project via Modular Code
1. Install the dependencies using the command, navigate to the **Telecom Data Analysis Project to Improve Service Quality** directory where the requirements.txt file exists, and run ***pip install -r requirements.txt*** in the terminal/CMD.
2. Run the jupyter notebook "telco_data_analysis.ipynb" present in the notebooks folder.

3. Note: As this is an exploratory data analysis project, the analysis work is primarily done in the Jupyter notebook. Therefore, we have not created separate modular source codes for this project. Please use the project structure to run the codes in the Jupyter notebook accordingly.
    

![eda_project_structure.png]()

## **Important Libraries**
 
* **pandas**: pandas is a fast, powerful, flexible, and easy-to-use open-source data analysis and manipulation tool built on top of the Python programming language. Refer to [documentation](https://pandas.pydata.org/) for more information.
 
* **NumPy**: The fundamental package for scientific computing with Python. Fast and versatile, the NumPy vectorization, indexing, and broadcasting concepts are the de-facto standards of array computing today. NumPy offers comprehensive mathematical functions, random number generators, linear algebra routines, Fourier transforms, and more. Refer to [documentation](https://numpy.org/) for more information. pandas and NumPy are together used for most of the data analysis and manipulation in Python.

* **Matplotlib**: Matplotlib is a comprehensive library for creating static, animated, and interactive visualizations in Python. Refer to [documentation](https://matplotlib.org/) for more information.
 
* **seaborn**: Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics. Refer to [documentation](https://seaborn.pydata.org/) for more information.

* **scikit-learn**: Simple and efficient tools for predictive data analysis
accessible to everybody and reusable in various contexts.
It is built on NumPy, SciPy, and matplotlib to support machine learning in Python. Refer to [documentation](https://scikit-learn.org/stable/) for more information.

* **Warnings**:The warnings library provides a way to handle warnings that are generated during program execution. Warnings are typically issued when there is a potential issue with code, but the code still runs without errors. The warnings module provides a way to catch these warnings and handle them in a way that is appropriate for the program. This can be especially useful when developing and debugging code, as warnings can help identify potential issues before they become errors.

* **sys**:The sys library provides access to some system-specific parameters and functions. This library can be used to access system-level information, such as the command line arguments passed to the program, the version of the Python interpreter being used, and more.

## **Package Requirements**

In [ ]:
# using warnings module to ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Developed and Tested on Python=3.8.10
!pip install numpy==1.24.2
!pip install pandas==1.5.3
!pip install matplotlib==3.7.0
!pip install seaborn==0.12.2
!pip install scikit_learn==1.2.2
!pip install projectpro --upgrade

After package installation, kindly restart the runtime if needed.

In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys
from projectpro import checkpoint,data_pipeline, mo_distance, preserve, save_point, feedback, show_video
checkpoint('fcTel1')

## **Introductory Video**

In [2]:
# Introductory Video
show_video("https://www.youtube.com/watch?v=EFIAFAtVRuA&list=PLrGuQQxHHiDmUXL-pro9LbhTnA5p1Cx6M&index=1")

In [ ]:
# These codes are useful when working with large datasets

# sets the maximum number of columns that will be displayed in a dataframe to 200 for improved data viewing
pd.set_option('display.max_columns', 200)
# sets the maximum number of columns that will be displayed in a dataframe to 300 for improved data viewing
pd.set_option('display.max_rows', 300)

In [ ]:
# Sets numpy print options to display entire arrays regardless of size
np.set_printoptions(threshold=sys.maxsize)

## **Data Reading from Different Sources**

<details>
    <summary>Click here to view more</summary>


### **Files**

In many cases, the data is stored in the local system. To read the data from the local system, specify the correct path and filename.

### **CSV Format**
Comma-separated values, also known as CSV, is a specific way to store data in a table structure format. The data used in this project is stored in a CSV file. Download the data for the project.


Use following code to read data from csv file using pandas. 
```
import pandas as pd
csv_file_path= "D:/ProjectPro/Telecom-Data-Analysis/data/raw_telecom_data.csv.csv"
df = pd.read_csv(csv_file_path)
```
With appropriate csv_file_path, pd.read_csv() function will read the data and store it in df variable.
 
If you get *FileNotFoundError or No such file or directory*, try checking the path provided in the function. It's possible that python is not able to find the file or directory at a given location.


### **Colab - CSV Format**

```
# mount the google drive
from google.colab import drive
drive.mount('/content/drive')
csv_file_path= '/content/drive/MyDrive/project_pro/Telecom Data Analysis Project to Improve Service Quality/raw_telecom_data.csv.csv'
df = pd.read_csv(csv_file_path)
```

### **AWS S3 - CSV**
Use the S3 public link to read the CSV file directly into a pandas DataFrame
```
s3_link = 'https://s3.amazonaws.com/projex.dezyre.com/telecom-data-analysis-project/materials/raw_telecom_data.csv'
df = pd.read_csv(s3_link)
```

### **Database**
Most organizations store their data in databases such as MS SQL. Microsoft SQL Server (MS SQL) is a relational database management system developed by Microsoft. A BAK file in Microsoft SQL Server is a backup file that contains a copy of a SQL Server database at a specific point in time. It is essentially a binary representation of the database and includes all its data, tables, schema, indexes, stored procedures, and other objects.

#### **Installing MS SQL Management Studio**
To install Microsoft SQL Server Management Studio, you can follow these steps:

* Go to the Microsoft SQL Server Downloads page (https://www.microsoft.com/en-us/sql-server/sql-server-downloads) and click on the "Download now" button for the version of SQL Server Management Studio that you want to install.
* Follow the instructions on the screen to download the installation file to your computer.
* Once the download is complete, locate the installation file and double-click on it to start the installation process.


#### **Restore a BAK file in MS SQL**

* Open SQL Server Management Studio and connect to the SQL Server instance to which you want to upload the BAK file.
* Right-click on the Databases folder in the Object Explorer pane and select "Restore Database..." from the context menu.
* In the "Restore Database" dialog box, select the "Device" option under the "Source" section.
* Click on the "..." button to open the "Select backup devices" dialog box.
In the "Select backup devices" dialog box, click on the "Add" button to add the BAK file that you want to upload.
* In the "Locate Backup File" dialog box, browse to the location where the BAK file is stored in the Telecom Data Analysis Project to Improve Service Quality directory under the ‘data’ folder, select the file, and click on the "OK" button.
* Back in the "Select backup devices" dialog box, the BAK file you added should now be listed under "Backup media:".
* Click on the "OK" button to close the "Select backup devices" dialog box.
In the "Restore Database" dialog box, you should see the BAK file listed in the "Backup sets to restore" section.
* By default, the original database name and file locations from the BAK file will be used. If you want to restore the database with a different name or to a different location, you can modify the "To database" and "Restore as" options under the "General" section.
* Click the "Options" tab for additional restore options.
* If you want to overwrite an existing database with the same name, you can select the "Overwrite the existing database (WITH REPLACE)" option under the "Restore options" section.
* Click on the "OK" button to start the restore process.
* Once the restore process is complete, you should see a message indicating that the restore was successful.

#### **Read Data from DB to Python**
 The data can be accessed by secret credentials, which will be in the following format.
```
import pyodbc
import pandas as pd
connection = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};\
                       SERVER=server_name;\
                       PORT=1433;\
                       DATABASE=database_name;\
                       UID=admin;\
                       PWD=password')
```
#### **Steps to install ODBC driver**
* Go to the Microsoft Download Center page for the ODBC Driver 17 for SQL Server: https://www.microsoft.com/en-us/download/details.aspx?id=56567
* Select the download button that corresponds to the operating system you are using.
* Select the language you want to use for the installer, then click the download button.
* Once the download is complete, run the installer.
* Accept the license terms, then select the features you want to install.
Choose a location to install the driver, or use the default location.
* Complete the installation process by following the instructions provided by the installer.
* Once the installation is complete, you can use the ODBC Driver 17 for SQL Server to connect to SQL Server databases from applications that support ODBC connectivity.

#### **Query to read the data into Pandas**

```
query = '''select * from raw_month_1_data
           UNION ALL
            select * from raw_month_2_data
            UNION ALL
            select * from raw_month_3_data
            UNION ALL
            select * from raw_month_4_data
            UNION ALL
            select * from raw_month_5_data
            UNION ALL
            select * from raw_month_6_data
            UNION ALL
            select * from raw_month_7_data
            UNION ALL
            select * from raw_month_8_data
            UNION ALL
            select * from raw_month_9_data
            UNION ALL
            select * from raw_month_10_data
            UNION ALL
            select * from raw_month_11_data
            UNION ALL
            select * from raw_month_12_data
            UNION ALL
            select * from raw_month_13_data
            UNION ALL
            select * from raw_month_14_data'''
raw_data = pd.read_sql(query,connection)

```

## **Data Exploration**

Data exploration is a critical step in the data analysis process, where you examine the dataset to gain a preliminary understanding of the data, detect patterns, and identify potential issues that may need further investigation. Data exploration is important because it helps to provide a solid foundation for subsequent data analysis tasks, hypothesis testing and data visualization.

Data exploration is also important because it can help you to identify an appropriate approach for analyzing the data.

Here are the various functions that help us explore and understand the data.

* Shape: Shape is used to identify the dimensions of the dataset. It gives the number of rows and columns present in the dataset. Knowing the dimensions of the dataset is important to understand the amount of data available for analysis and to determine the feasibility of different methods of analysis.

* Head: The head function is used to display the top five rows of the dataset. It helps us to understand the structure and organization of the dataset. This function gives an idea of what data is present in the dataset, what the column headers are, and how the data is organized.

* Tail: The tail function is used to display the bottom five rows of the dataset. It provides the same information as the head function but for the bottom rows. The tail function is particularly useful when dealing with large datasets, as it can be time-consuming to scroll through all the rows.

* Describe: The describe function provides a summary of the numerical columns in the dataset. It includes the count, mean, standard deviation, minimum, and maximum values, as well as the quartiles. It helps to understand the distribution of the data, the presence of any outliers, and potential issues that can affect the model's accuracy.

* Isnull: The isnull function is used to identify missing values in the dataset. It returns a Boolean value for each cell, indicating whether it is null or not. This function is useful to identify the presence of missing data, which can be problematic for regression analysis.

* Dropna: The dropna function is used to remove rows or columns with missing data. It is used to remove any observations or variables with missing data, which can lead to biased results in the regression analysis. The dropna function is used after identifying the missing data with the isnull function.

* Columns: The .columns method is a built-in function that is used to display the column names of a pandas DataFrame or Series. It returns an array-like object that contains the names of the columns in the order in which they appear in the original DataFrame or Series. It can be used to obtain a quick overview of the variables in a dataset and their names.

In [ ]:
# data reading with csv
df = pd.read_csv('https://s3.amazonaws.com/projex.dezyre.com/telecom-data-analysis-project/materials/raw_telecom_data.csv')

In [ ]:
# exploring the top 5 rows
df.head(n=5)

In [ ]:
# shape of the dataset
df.shape

**Observation**:

The dataset has 653,753 rows and 74 columns. The number of rows represents the number of records or observations in the dataset, while the number of columns represents the number of features or variables associated with each observation.

In [ ]:
# finding the columns of the dataset
df.columns

## **Data Dictionary**

Exploratory Data Analysis (EDA) is a crucial step in any data-driven project, especially when working with datasets that are unfamiliar. In such cases, it is essential to understand the characteristics of the data, identify patterns and trends, and uncover insights that may be hidden in the data. Through EDA, we can discover the problems our customers face and the areas in which we can improve our services.

To conduct EDA, we need to have a clear understanding of the variables in our dataset, and that is where a data dictionary comes in handy.

| Column name	 | Description|
| ----- | ----- |
| Customer ID	 | Unique identifier for each customer |
| Month | Calendar Month- 1:12 | 
| Month of Joining |	Calender Month -1:14, Month for which the data is captured|
| zip_code |	Zip Code|
|Gender |	Gender|
| Age |	Age(Years)|
| Married |	Marital Status |
|Dependents | Dependents - Binary |
| Number of Dependents |	Number of Dependents|
|Location ID |	Location ID|
|Service ID	 |Service ID|
|state|	State|
|county	|County|
|timezone	|Timezone|
|area_codes|	Area Code|
|country	|Country|
|latitude|	Latitude|
|longitude	|Longitude|
|arpu|	Average revenue per user|
|roam_ic	|Roaming incoming calls in minutes|
|roam_og	|Roaming outgoing calls in minutes|
|loc_og_t2t|	Local outgoing calls within same network in minutes|
|loc_og_t2m	|Local outgoing calls outside network in minutes(outside same + partner network)|
|loc_og_t2f|	Local outgoing calls with Partner network in minutes|
|loc_og_t2c	|Local outgoing calls with Call Center in minutes|
|std_og_t2t|	STD outgoing calls within same network in minutes|
|std_og_t2m|	STD outgoing calls outside network in minutes(outside same + partner network)|
|std_og_t2f|	STD outgoing calls with Partner network in minutes|
|std_og_t2c	|STD outgoing calls with Call Center in minutes|
|isd_og|	ISD Outgoing calls|
|spl_og	|Special Outgoing calls|
|og_others|	Other Outgoing Calls|
|loc_ic_t2t|	Local incoming calls within same network in minutes|
|loc_ic_t2m|	Local incoming calls outside network in minutes(outside same + partner network)|
|loc_ic_t2f	|Local incoming calls with Partner network in minutes|
|std_ic_t2t	|STD incoming calls within same network in minutes|
|std_ic_t2m	|STD incoming calls outside network in minutes(outside same + partner network)|
|std_ic_t2f|	STD incoming calls with Partner network in minutes|
|std_ic_t2o|	STD incoming calls operators other networks in minutes|
|spl_ic|	Special Incoming calls in minutes|
|isd_ic|	ISD Incoming calls in minutes|
|ic_others|	Other Incoming Calls|
|total_rech_amt|	Total Recharge Amount in Local Currency|
|total_rech_data|	Total Recharge Amount for Data in Local Currency
|vol_4g|	4G Internet Used in GB|
|vol_5g|	5G Internet used in GB|
|arpu_5g|	Average revenue per user over 5G network|
|arpu_4g|	Average revenue per user over 4G network|
|night_pck_user|	Is Night Pack User(Specific Scheme)|
|fb_user|	Social Networking scheme|
|aug_vbc_5g|	Volume Based cost for 5G network (outside the scheme paid based on extra usage)|
|offer|	Offer Given to User|
|Referred a Friend|	Referred a Friend : Binary|
|Number of Referrals|	Number of Referrals|
|Phone Service|	Phone Service: Binary|
|Multiple Lines|	Multiple Lines for phone service: Binary|
|Internet Service|	Internet Service: Binary|
|Internet Type|	Internet Type|
|Streaming Data Consumption|	Streaming Data Consumption|
|Online Security|	Online Security|
|Online Backup|	Online Backup|
|Device Protection Plan|	Device Protection Plan|
|Premium Tech Support|	Premium Tech Support|
|Streaming TV|	Streaming TV|
|Streaming Movies|	Streaming Movies|
|Streaming Music|	Streaming Music|
|Unlimited Data|	Unlimited Data|
|Payment Method|	Payment Method|
|Status ID|	Status ID|
|Satisfaction Score|	Satisfaction Score|
|Churn Category|	Churn Category|
|Churn Reason|	Churn Reason|
|Customer Status|	Customer Status|
|Churn Value|	Binary Churn Value

## **Hypothesis-Driven Exploratory Data Analysis (EDA)**

A hypothesis is a tentative explanation for a phenomenon or relationship between variables that can be tested using data. In data analysis, a hypothesis is a statement about the relationship between two or more variables that we want to test by analyzing the data.

Hypothesis-driven EDA is an approach to data analysis that involves formulating hypotheses about the relationships between variables in a dataset and using data exploration techniques to test those hypotheses. The purpose of this approach is to identify patterns or trends in the data that accept or reject the initial or null hypotheses.

This approach is important because it helps to guide the data exploration process and can provide more meaningful insights than random exploratory data analysis.

The process of conducting hypothesis-driven EDA typically involves the following steps:

* **Formulating a hypothesis**: Hypothesis generation is an educated “guess” of various factors that are impacting the business problem that needs to be solved using machine learning. This involves identifying a question or problem that needs to be addressed and formulating a specific hypothesis/assumption about the relationship between the variables in the data.

* **Choosing appropriate visualization techniques**: Once the hypothesis has been formulated, we need to choose the appropriate visualization techniques to explore the data and test the hypothesis to see if what we thought is actually similar to what data is trying to say.

* **Data exploration and analysis**: We then conduct in-depth analysis, to examine the data to identify any patterns or relationships that support or reject the hypothesis.

* **Evaluate and refine hypotheses**: Evaluate the results of your analysis and refine or generate new hypotheses based on the findings.

* **Communicate results**: Communicate the results of your analysis and the insights gained from testing the hypotheses to stakeholders.

Here are some key assumptions and hypotheses that we can make based on the initial analysis of the dataset:

* The demographic data represents the customer's location and we assume that no customers have changed location.

* A customer can come back to the telecom service provided once they have churned.

* The customer ID is a unique identifier that represents the customer's journey across months. However, we do not have granular data, nor do we know which quarter the data is for.

* The location ID and service ID seem to go hand in hand.

* Customers with higher ARPU should not churn as it would negatively impact the company's revenue.

* The offers provided to the customers are given to either prevent churn, increase satisfaction or engagement, but we don't have any information about the specific offers provided to each customer.

* We assume that the satisfaction score and offer were measured in the same month.

* We don't have any information about the basis for the offers given to the customers.

* We don't know which customers have been good or bad to the organization.

* We know the customers have churned but we don't have any information about when a customer is about to churn, which is a separate investigation.

From here onwards we will explore the data and decide the problems we want to solve

Let us start with customer ID as that is the primary column

## **Univariate Data Analysis**

Univariate data analysis is a statistical method that involves the examination of one variable at a time. It is a method of analysis that focuses on understanding the distribution and properties of a single variable in a dataset.

In univariate analysis, statistical techniques are used to describe and summarize the characteristics of the variable under investigation. Measures such as mean, median, mode, range, standard deviation, and variance are used to describe the central tendency and spread of the data. Graphical representations, such as histograms, frequency plots, and box plots, are used to visualize the distribution of the data.

Univariate analysis is often used as a preliminary step in data analysis to identify patterns, trends, and outliers in the data. It is also used to explore relationships between variables and to test hypotheses about the characteristics of the data.

### **Univariate Plots**



* A histogram is a bar graph that represents the frequency distribution of a set of data. It shows how many data points fall into each range of values or bin. The bars in the histogram represent the frequency of data points within a given range, and the height of each bar represents the number of data points in that bin.

* A density plot is a smoothed representation of the distribution of the data, which is calculated by fitting a probability density function to the histogram of the data. It shows the shape of the distribution and provides a visual representation of the relative density of the data at different values.

* A box plot, also known as a box-and-whisker plot, is a graphical representation of the distribution of a set of data. It shows the median, quartiles, and outliers of the data in a compact and easily interpretable format. The box in the plot represents the interquartile range (IQR), which is the range between the first and third quartile. The whiskers extend from the box to the minimum and maximum values of the data, and any outliers are plotted as individual points outside the whiskers.

* A violin plot is a combination of a density plot and a box plot, showing the density of the data along the y-axis and the distribution along the x-axis. It shows the distribution of the data in a compact format, and provides information on the central tendency, spread, and skewness of the data.

* Distribution plots are an important tool for exploratory data analysis and can help in understanding the distribution of the data, identifying patterns and outliers, and making informed decisions about the data. They provide a visual representation of the data and can be used to identify potential issues with the data, such as non-normality or outliers.


* Bar plots: Bar plots are plots that display the frequency, proportion, or percentage of categorical data using bars, where the length of the bar represents the value of the data being displayed.

* Pie charts: Pie charts are plots that display the proportion or percentage of categorical data using a circular chart, where each slice of the chart represents a category and the size of the slice represents the proportion or percentage of the data.

* Count plots: Count plots are similar to bar plots, but they display the frequency of categorical data rather than the proportion or percentage.

* Line plots: Line plots are plots that display the relationship between two variables by connecting data points with a line.

### **Customer ID**

We have no idea how many customers we have over how many months. Let's see that.

In [ ]:
# To get the number of unique customers in the dataset
len(df["Customer ID"].unique())

In [ ]:
# To get the number of unique months in the dataset
len(df["Month"].unique())

There are 98,230 unique customers in the dataset, and the data spans across 14 months. With this knowledge, we can now move forward with a more comprehensive analysis.

In [ ]:
# To get the basic information of the dataset
df.info()

**Observation:** There are no null values in the Customer ID, Month of Joining, or Month columns.

Let us plot how many customers are joining in each month

In [ ]:
# To generate a bar plot of the count of customers who joined the telecom service in each month, sorted by month
df['Month of Joining'].astype(int).value_counts().sort_index().plot.bar(figsize=(10,5))
plt.title('Count of Customers Joined by Month')
plt.xlabel('Month')
plt.ylabel('Count')
plt.show()

**Observation**:  A large number of customers joined in June.It could be due to a seasonal promotion or marketing campaign that was particularly effective, or it could be due to external factors such as changes in the market or industry. Further analysis and context would be needed to make a more informed hypothesis.

In [ ]:
# Distribution of customers across months
customers_per_month = df.groupby("Month")["Customer ID"].nunique()

# Plotting the distribution of customers across months
customers_per_month.plot(kind="bar", figsize=(10, 6))
plt.title("Number of Customers per Month")
plt.xlabel("Month")
plt.ylabel("Number of Customers")
plt.show()

**Observation**: From the graph, we can see that the number of customers steadily increases from January to May, after which there is a sharp increase in June, followed by a steady increase and decreasing trend. This could indicate some issue or change in the company's services or marketing strategy during that period.

Let's look at customer journeys!

In [ ]:
# Filtering for customer ID - uqdtniwvxqzeu1
df[df["Customer ID"]=='uqdtniwvxqzeu1']

**Observation**: We can observe that this consumer joined the company in the sixth month and stayed until the fourteenth month.

In [ ]:
# Filtering for customer ID - aabakestdecft46766
df[df["Customer ID"]=='aabakestdecft46766']

**Observation**: This consumer joined in the third month and left in the same month.

In [ ]:
# Compute basic statistics of count of rows per customer
df.groupby(['Customer ID']).size().describe()

**Observation**:
The average duration of a customer is 6 months, then we can generate the following hypotheses:

* The company needs to improve their customer retention strategies to increase the average duration of customers.

* The company needs to evaluate their pricing strategies to retain customers for a longer duration.

* The company need to focus on improving the quality of their services to increase customer loyalty and prolong their duration of service.

To understand the actual problem we need to analyze other variables and see what insights they show in order to support or reject these hypotheses.

In [ ]:
# Count the number of customers with a particular number of rows
df.groupby(['Customer ID']).size().value_counts()

**Observation**: This shows that more people are present in 5 to 9 month bracket. We can generate the following hypotheses:

* Customers who stay with the telecom service provider for a longer duration are more likely to stay for 5-9 months.


* Customers may be facing some issues or problems with the service after 9 months, leading to a higher churn rate after that period.

### **Zip Code**

Some possible hypotheses that could be formed are:

* The distribution of customers across zip codes follows a normal distribution.

* There are a few zip codes with significantly more customers than others.

* The distribution of customers across zip codes is skewed to the right, with the majority of zip codes having fewer customers.

In [ ]:
# Number of unique zip codes in the dataset
num_unique_zips = df['zip_code'].nunique()

# Number of customers in each zip code
cust_per_zip = df['zip_code'].value_counts()

# Summary statistics of the number of customers per zip code
data_pipeline("fcTel1")
cust_per_zip.describe()

# Plotting the distribution of customers across zip codes
cust_per_zip.plot(kind='hist', bins=num_unique_zips, figsize=(10,6))
plt.title('Distribution of Customers Across Zip Codes')
plt.xlabel('Number of Customers')
plt.ylabel('Frequency')
plt.show()

**Observation**: As we can see the distribution confirms our hypothesis of normal distribution.

As the distribution of customers across zip codes does not show much skewness, it suggests that the customer base is relatively evenly distributed across zip codes. There are no clear pockets of customers in particular zip codes that stand out as being much more popular than others. This could be a positive sign for the business, as it suggests that the customer base is broad and not overly reliant on a particular geographic area.

### **Gender**

In [ ]:
# Count the number of customers in each gender category
gender_counts = df['Gender'].value_counts()

# Print the gender counts
print(gender_counts)

In [ ]:
# Counting the number of unique customers whose gender is missing
print('Customers whose gender is missing:' ,df[df['Gender'].isna()]['Customer ID'].nunique())

**Observation**: We can observe that 1487 consumers have no gender. Let's impute it with "Not specified".

In [ ]:
# Filling missing values in the Gender column with 'Not Specified'
df['Gender'] = df['Gender'].fillna('Not Specified')

# Counting the number of customers for each gender, including those with missing values
df['Gender'].value_counts(dropna=False)

### **Age**

Possible hypotheses that could formed for "Age" column are:

* Most customers fall in the age group of 20 to 40 years.

* There will be outliers present in the age column as some customers might have entered invalid age.

In [ ]:
# Distribution of customers across age groups
plt.figure(figsize=(10,6))
sns.distplot(df['Age'])
plt.title('Distribution of Customers across Age Groups')
plt.xlabel('Age')
plt.ylabel('Number of Customers')
plt.show()

# Descriptive statistics of age column
df['Age'].describe()

**Observation**: As we can see the maximum age is 9999. This proves our hypothesis that there will be outliers present in the age column as some customers might have entered invalid age.

In [ ]:
# let's see the sorted age values
df['Age'].sort_values()

In [ ]:
# So we need to replace 9999 by mean or median! or 95th percintle! 
df['Age'].quantile([0.8,0.9,0.95,0.99])

In [ ]:
# So we need to replace 9999 by mean or median! or 95th percintle! 
df['Age'].quantile([0.99,0.999,0.99991,0.999999])

In [ ]:
# Hence we will replace every value in age column by greater than 76 by lets say similar values through imputer. 
df['Age'].value_counts()

In [ ]:
# We will fill the NaN's later by using impute method
# For all greater than 75 we will make the age as NaN
df['Age'].replace(9999, np.NaN, inplace=True)

In [ ]:
# Now replacing Age=1
df['Age'].replace(1, np.NaN, inplace=True)

In [ ]:
# Extreme Quantiles
df['Age'].quantile([0.99,0.999,0.99991,0.999999])

In [ ]:
# Distribution of customers across age groups
plt.figure(figsize=(10,6))
sns.distplot(df['Age'])
plt.title('Distribution of Customers across Age Groups')
plt.xlabel('Age')
plt.ylabel('Number of Customers')
plt.show()

We will enter null values for Age later.

**Observation**: The data now seems to be valid as it also proves our hypothesis of most of the customer ages would be between 20-40.

### **Married**

In [ ]:
# Count of each unique value in the 'Married' column including NaN values
df['Married'].value_counts(dropna=False)

In [ ]:
# Count of unique customer IDs where 'Married' column is NaN
df[df['Married'].isna()]['Customer ID'].nunique()

In [ ]:
# Replacing NaN values in the 'Married' column with 'Not Specified'
df['Married'] = df['Married'].fillna('Not Specified')

In [ ]:
# Count of each unique value in the 'Married' column after filling NaN values with 'Not Specified'
df['Married'].value_counts(dropna=False)

### **Dependents**

In [ ]:
# Count the number of unique values in "Dependents" column
df['Dependents'].value_counts(dropna=False)

**Observation**:The Dependents and Number of Dependents columns are linked.

But, for the time being, we will simply replace null with not specified and deal with both columns together in the following section.

In [ ]:
# Fill missing values in dependents with "Not Specified"
df['Dependents']=df['Dependents'].fillna('Not Specified')

In [ ]:
# Count the number of unique values in "Dependents" column after imputation
df['Dependents'].value_counts(dropna=False)

In [ ]:
# Percentage of customers with dependents
percent_with_dependents = (df["Dependents"].value_counts(normalize=True) * 100).loc["Yes"]
preserve("fcTel1")
print(f"Percentage of customers with dependents: {percent_with_dependents:.2f}%")

**Observation**: The percentage of customers with dependents gives us insights into the family structure of the customer base. This can help us understand the type of services that are in demand among families and whether there are opportunities to introduce family-oriented plans and promotions.

### **Number of Dependents**

In [ ]:
# Counting the number of unique values in Number of Dependents column
df['Number of Dependents'].value_counts(dropna=False)

**Observation**: There are no null values in the number of dependents column.

Nonetheless, 699 dependents stand out as an exception in this case. Let's substitute nan and impute them later.

**Problem**:
* Improve customer satisfaction: Customers with dependents have zero dependents constitute the majority of our customer base and could be used to improve customer satisfaction by offering more accurate and relevant products and services to customers based on their needs as customers with dependents more likely have a high ARPU and means they are more invested and have a lesser risk to churn out. Although, they should be tackled with a whole different strategy to ensure their loyalty.

In [ ]:
# Replace 699 with Nan
df.loc[df['Number of Dependents']==699,'Number of Dependents']=np.nan

In [ ]:
# Count the frequency of unique values in the 'Dependents' and 'Number of Dependents' columns
df[['Dependents','Number of Dependents']].value_counts(dropna=False)

**Observation**: 
* Some rows have NaN values in 'Dependents' column and 'Number of Dependents' column has value 0 for those rows.

* It seems ambiguous as the 'Dependents' column indicates that the customer has dependents but the 'Number of Dependents' is 0.

* It is recommended to check with the business team for clarification.
However, we will not address this in the current notebook.

### **Location ID and Service ID**

In [ ]:
# Count the number of unique Location IDs
df['Location ID'].nunique()

In [ ]:
# Count the number of unique Service IDs
df['Service ID'].nunique()

**Observation**: It appears that each customer ID has a distinct Location ID and Service ID and they go hand in hand.

In [ ]:
# Using value_counts() method to get the count of unique values for Location ID and Service ID columns
df[['Location ID','Service ID']].value_counts(dropna=False)

**Observation**: The counts of unique values for Location ID and Service ID columns are almost same which indicates that location ID and service ID are related to each other and thus our assumption is proved.

### **State**

In [ ]:
# Count the unique values of State column
df['state'].value_counts(dropna=False)

**Observation**: There are no null values in the state column.

In [ ]:
# Bar plot of customer count for each state
plt.figure(figsize=(10,6))
df['state'].value_counts(dropna=False).plot.bar()
plt.title('Bar plot of customer count for each state')
plt.xlabel('State')
plt.ylabel('Number of Customers')
plt.show()

In [ ]:
# Grouping by state and calculating unique customer count
df.groupby(['state'],as_index=False).agg(Number_of_customers=('Customer ID','nunique'))

**Observation**:  It can be observed that the maximum number of customers are from California with 57665 Customers IDs.

We earlier saw that the normal distribution of zip codes suggests that customers are evenly distributed across zip codes. 

**Hypothesis**:

* It is possible that the state of California has a large number of zip codes among other states.

In [ ]:
# Count the number of unique zip codes per state
df.groupby('state')['zip_code'].nunique()

Yes! California has maximum zip codes.

**Hypotheses and Problems**


Hypotheses that can be deduced:


* The telecom service provider has a strong presence in California, leading to a higher customer base.

* Customers from California have higher mobile phone usage compared to other states, leading to more subscriptions with the telecom service provider.


These conclusions also lead to the following problems:

* Location-based marketing strategy: The insight that the majority of customers are from California could be used to develop a location-based marketing strategy that targets customers in this state with customized offers, campaigns, and promotions.

* Improve customer distribution: Analyze and bring in more customers from other states to even out the customer distribution and ensure the company is not overly reliant on a particular area.

### **County**

In [ ]:
# Group by county and calculate number of unique customers in each county
df.groupby(['county'],as_index=False).agg(Number_of_customers=('Customer ID','nunique')).sort_values(by=['Number_of_customers'])

In [ ]:
# Count the number of missing values in county column
df['county'].isna().sum()

**Observations**:

* Los Angeles has the highest number of customers while Garfield county has the lowest number of customers.

* There are 918 missing values in the county column.

**Hypotheses**:

* Customers in densely populated areas (like Los Angeles) may have different preferences and behaviors compared to customers in less populated areas (like Garfield county).

Analyzing customer preferences and behaviors in different locations can help the company target their marketing and promotional strategies effectively.

In [ ]:
# Finding the values of state, latitude and longitude where county is missing
df[df['county'].isna()][['state','latitude','longitude']].value_counts()

In [ ]:
# Finding the county for specific latitude and longitude values
df[(df.latitude==32.99)&(df.longitude==-106.97)]['county'].value_counts(dropna=False)

In [ ]:
# Finding the county for specific latitude and longitude values
df[(df.latitude==34.75)&(df.longitude==-92.27)]['county'].value_counts(dropna=False)

In [ ]:
# Finding the county for specific latitude and longitude values
df[(df.latitude==35.82)&(df.longitude==-106.20)]['county'].value_counts(dropna=False)

In [ ]:
# Finding the county for specific latitude and longitude values
df[(df.latitude==47.85)&(df.longitude==-122.22)]['county'].value_counts(dropna=False)

In [ ]:
# Finding the county for specific latitude and longitude values
df[(df.latitude== 37.95)&(df.longitude==-121.29 )]['state'].value_counts(dropna=False)

In [ ]:
# Replacing missing values in county with 'Unknown'
df['county']=df['county'].fillna('Unknown')

**Observation**:
We see that there are some values of latitude and longitude for which the county value is missing (NaN). To fill in these missing values, we can find the county corresponding to those latitude and longitude values. However, for this exercise, we will simply replace the missing county values with 'Unknown'.

### **Timezone**

In [ ]:
# Count the number of customers in each timezone
df['timezone'].value_counts(dropna=False)

In [ ]:
# Identify the customers with missing timezone and their state and county information
df[df['timezone'].isna()][['state','county']].value_counts(dropna=False)

In [ ]:
# Check the unique timezone value for customers in Craighead County
df[df.county=='Craighead County'].timezone.unique()

In [ ]:
# Fill the missing timezone values with "America/Chicago" 
df['timezone']=df['timezone'].fillna('America/Chicago')

**Observation**: There are 147 null values for timezone, all of which belong to Craighead County. The corresponding timezone for this county is "America/Chicago", so we safely replaced the missing values with this timezone.

**Hypothesis**:

* Customers in different timezones may have different calling behavior or usage patterns, which can affect the revenue or service quality of the company.

We'll have to analyze and see later.

### **Area Codes**

In [ ]:
# Count the values of area codes
df['area_codes'].value_counts(dropna=False)

There are some missing values. Let us explore deeper.

In [ ]:
# Count the values of state and county for missing values of area codes
df[df['area_codes'].isna()][['state','county']].value_counts(dropna=False)

Let's see if one county has only one area codes value.

In [ ]:
# Count the values of County and area codes
df[['county','area_codes']].value_counts(dropna=False)

**Observation**:
As we can see, San Diego County has at least two area codes. As a result, no two counties share the same area code.

We can verify with the company about this.

For the time being, let us simply replace na with unknown.

In [ ]:
# Filling the missing value with Unknown
df['area_codes']=df['area_codes'].fillna('Unknown')

### **Latitude and Longitude**

In [ ]:
# Check the number of nulls in latitude
df['latitude'].isna().sum()

In [ ]:
# Check the number of nulls in longitude
df['longitude'].isna().sum()

In [ ]:
# Count the unique values of latitude and longitude
df[['latitude','longitude']].value_counts()

Are these from California, as there are many maximum consumers from that state?

In [ ]:
# Checking if the latitude and longitude values are from CA
df[df['latitude']==38.58][['latitude', 'longitude', 'state']].value_counts()

Yes!

**Observation**:

* There are no null values in latitude and longitude, and the maximum number of rows is 38.58, -121.49.

### **Average Revenue per User (ARPU)**

Some hypotheses for univariate analysis are:

* We don't know which customers have been good or bad to the organization.

* The distribution of arpu values might be skewed. The median arpu might be a better measure of central tendency than the mean arpu.

* There might be some outliers in arpu values.

In [ ]:
# Check the null values in ARPU
df['arpu'].isna().sum()

There are no null values in arpu.

In [ ]:
# Distribution plot
preserve("fcTel1")
plt.figure(figsize=(10,6))
sns.displot(df['arpu'])
plt.title('Distribution of arpu')
plt.xlabel('ARPU')
plt.ylabel('Count')
plt.show()

**Observation**:

* The distribution of ARPU values is right-skewed, with most values concentrated below 500 which indicates very high ARPU values for a few customers proving our hypotheses.

* There are some negative ARPU values, which may be due to refunds. A negative ARPU means that the company is losing money on a per-user basis, rather than making a profit. It is not uncommon for telecom companies to have negative ARPU due to the high costs associated with acquiring and servicing customers.

In [ ]:
# ARPU is negative here.
# Lets investigate
df.arpu.describe()

In [ ]:
# Now let us investigate how many people have negative arpu

df[df['arpu']<0].shape

In [ ]:
# So nearly 115K customers have negative ARPU. 
# Let's calculate the percentage
115942/df.shape[0]

**Observation**:

The fact that 17% of the people have negative arpu means that a significant proportion of the customer base is not generating revenue for the telecom company. 

This could be due to a number of reasons, such as inactive accounts, delinquent accounts, or accounts with outstanding balances. 

To understand more about this issue, we can investigate other variables that may be related to negative arpu, such as churn status. We can also look at the distribution of negative arpu values across different demographic groups, such as age, gender, and location, to see if there are any patterns or trends. 

Additionally, we can explore whether there are any correlations between negative arpu and other variables, such as usage patterns, service subscriptions, and customer satisfaction scores to understand what's causing this behaviour.

Overall, further investigation is needed to fully understand the implications of negative arpu for the telecom company.

### **Average revenue per user over 4G  and 5G network (ARPU 4G & ARPU 5G)**

In [ ]:
# Check nulls
df['arpu_4g'].isna().sum()

In [ ]:
# Check nulls
df['arpu_5g'].isna().sum()

There are about 210K null values in arpu_4g and arpu_5g.

In [ ]:
# We have not been given any information if adding these 2 up will make overall arpu
# Let us analyze all 3 variables together

(df['arpu_5g']+df['arpu_4g']==df['arpu']).value_counts(dropna=False)

**Observation**: arpu_4g and arpu_5g does not add up to give overall arpu. 

**Hypothesis**:

`Overall ARPU = arpu_4g + arpu_5g + other_arpu_components`

where `other_arpu_components` represent the revenue generated from other sources such as voice calls, messaging, and data usage on 2G and 3G networks.

Lets see how can we deal with null values in these columns

In [ ]:
# Frequency count of different values in the 'total_rech_data' column for users who did not have any data recharge 
# and also have missing values in both 'arpu_4g' and 'arpu_5g' columns
df[(df['arpu_4g'].isna())&(df['arpu_5g'].isna())]['total_rech_data'].value_counts(dropna=False)

**Observation**:

* Maximum values with no `arpu_4g` and `arpu_5g` have no recharge for internet service, then it's safe to assume that the null values in arpu_4g and arpu_5g also represent customers who have not recharged for internet service. We will impute this values once we analyze the `total_rech_data` variable.

### **Night Pack User**

In [ ]:
# Check the value counts
df['night_pck_user'].value_counts(dropna=False)

**Observation**: Since the `night_pck_user` column has more than 50% missing values, it's not wise to impute those missing values as it may lead to biased results. So, it's better to keep the NaNs as they are and analyze the available data.

### **Facebook User - Social Networking Scheme**

In [ ]:
# Check the counts of unique values in fb user column
df['fb_user'].value_counts(dropna=False)

**Observation**: 

* Since the `fb_user` column has more than 50% null values, we cannot draw any conclusions regarding this variable. 

* It would not be meaningful to perform any analysis or generate any visualizations based on this variable. If we were to include `fb_user` in our analysis, we would have to drop a significant portion of the data, which could result in biased or inaccurate results. 

* Therefore, it may be best to exclude this variable from our analysis altogether.

### **Volume Based cost for 5G network (outside the scheme paid based on extra usage)**

In [ ]:
# Plot distribution of aug_vbc_5g
plt.figure(figsize=(10,6))
sns.distplot(df['aug_vbc_5g'])

# Add title and labels to the plot
plt.title('Distribution of Volume Based Cost for 5G Network')
plt.xlabel('Volume Based Cost')
plt.ylabel('Density')

In [ ]:
# statistics for aug_vbc_5g
df['aug_vbc_5g'].describe()

**Hypotheses**:

* The distribution of aug_vbc_5g may have outliers.

* The max value of 254687 may not be a correct value.

In [ ]:
# Max value of aug_vbc_5g
df['aug_vbc_5g'].quantile([0.8,0.9,0.95,0.99])

In [ ]:
# So we are having problems in 99th percentile
df['aug_vbc_5g'].quantile([0.99,0.999,0.9999])

In [ ]:
# Replace incorrect max value with NaN
df['aug_vbc_5g'].replace(254687.0, np.NaN, inplace=True)

In [ ]:
# Investigate max value of aug_vbc_5g
df['aug_vbc_5g'].quantile([0.99,0.999,0.9999])

In [ ]:
# Replace incorrect max value with NaN
df['aug_vbc_5g'].replace(87978, np.NaN, inplace=True)

In [ ]:
# Plot distribution of aug_vbc_5g again
plt.figure(figsize=(10,6))
sns.distplot(df['aug_vbc_5g'])
# Add title and labels to the plot
plt.title('Distribution of Volume Based Cost for 5G Network')
plt.xlabel('Volume Based Cost')
plt.ylabel('Density')

In [ ]:
# Print updated quantiles for aug_vbc_5g
df['aug_vbc_5g'].quantile([0.8, 0.9, 0.99])

In [ ]:
# Filter values > 5000 for aug_vbc_5g
df[df['aug_vbc_5g']>5000]

**Observations**:

* The maximum value of 254687 was replaced with NaN due to it being an incorrect value.

* One additional incorrect value of 87978 was also replaced with NaN.

* The 99th percentile value was changed to 7387.188 after replacing the incorrect values.

* Values greater than 5000 were found to be valid values that may require transformations or normalization later.

### **Churn Value**

In [ ]:
# Count the values of churned customers
df['Churn Value'].value_counts(dropna=False)

There are no null values in the column "Churn Value".

In [ ]:
# Normalizing value counts
df['Churn Value'].value_counts(normalize=True)

**Observation**: There are just 0.04% of rows with churn value 0, so let's examine how many distinct customers there are.

In [ ]:
# Unique customer IDs and their churn values
cust_churn = df[['Customer ID', 'Churn Value']].drop_duplicates()

# Calculate the percentage of customers who churned out
churn_percent = round((cust_churn['Churn Value'].value_counts()[1] / len(cust_churn)) * 100, 2)

print("Percentage of customers who churned out:", churn_percent, "%")

In [ ]:
# Convert Month column to integer and filter Churn Value =1
churn_monthly = df[df['Churn Value'] == 1]['Month'].astype(int).value_counts().sort_index()

# Plotting bar chart 
plt.figure(figsize=(10,6))
plt.bar(churn_monthly.index, churn_monthly.values)
plt.title('Monthly Churned Customers')
plt.xlabel('Month')
plt.ylabel('Number of Customers')
plt.show()

**Observation**:

* From the plot, we can see that there is a gradual increase in the number of churned customers from month 7 to month 11. 

* Month 11 has the highest number of churned customers, indicating that there may have been some issue with the services provided during that month that led to customers leaving the network. We will have to analyze this further.

### **Offer**

In [ ]:
# Count the unique values in Offer column
df['offer'].value_counts(dropna=False)

**Observation**: There are a lot of null values in the offer column.

**Hypotheses**: 

* It's possible that the null values in the offer column are due to customers not being eligible for any offers. 

* However, it's also possible that there was an error in recording the data or that some customers were missed when the offers were being given out. 

* We can investigate further by looking at the distribution of offer types and see if there are any patterns based on customer demographics or behavior.

In [ ]:
# Filling Nulls with No Offer
df['offer']=df['offer'].fillna('No Offer')

In [ ]:
# Check the value counts again
df[df['Churn Value']==1]['offer'].value_counts()

**Observation**:

* If the offers are distributed in the same way, it suggests that the company has not targeted any specific group of customers with special offers. 

* This could mean that the company is more focused on providing equal benefits to all customers rather than targeting specific segments.

* We can explore the relationship between the offers and customer data, such as age, gender, location, and usage patterns. This could help identify any patterns or preferences among customers that could help with the future marketing strategies. 

* Analyzing the impact of the offers on customer churn could help the company optimize their promotional campaigns.

### **Referred a Friend and Number of Referrals**

In [ ]:
# Count the values if a customer referred the company's services to a friend
df['Referred a Friend'].value_counts(dropna=False)

In [ ]:
# Here are the number of referrals
df['Number of Referrals'].value_counts(dropna=False)

**Observation**: 

* There are some null values. We can add them later.

* It will be interesting to see both the column of friends referred and the number of referrals together.

In [ ]:
# Count the values of Referred a Friend and Number of Referrals
df[['Referred a Friend','Number of Referrals']].value_counts(dropna=False)

**Observations**:

* The majority of customers have answered "no" to the question "Referred a Friend" and have also not made any referrals.

* A small percentage of customers who have answered "no" to the question "Referred a Friend" have made referrals.

* Among the customers who have answered "yes" to the question "Referred a Friend", there is a wide range in the number of referrals made, with some customers having made only one or two referrals while others have made 10-11 as well.

* To further investigate the small percentage of customers who have made referrals despite answering "no" to the question "Referred a Friend", it may be useful to analyze the source of the referrals.

* To incentivize more referrals and increase customer acquisition, the company may want to consider offering referral bonuses or other rewards to customers who successfully refer new customers. 

* The company could analyze the characteristics and behavior of customers who are more likely to make referrals and improve their marketing campaigns.

### **Phone Service**

In [ ]:
# Count the value of customers with and without phone service
plt.figure(figsize=(10,6))
df['Phone Service'].value_counts(dropna=False).plot.bar()
plt.title("Distribution of Customers with Phone Service")
plt.ylabel("Count")
plt.show()

**Observation**:

* Phone Service is a popular choice among customers, with over 5 lakh customers opting for it over the 14-month period. This suggests that it is an important service for the company to continue offering and investing in.

* It would be interesting to explore the demographics and usage patterns of customers who opted for Phone Service versus those who did not. This could help the company better understand the needs and preferences of its customer base.

### **Internet Service and Internet Type**

In [ ]:
# Count the values of the customers with and without Internet Service
df['Internet Service'].value_counts(dropna=False)

**Observation**:

* About 4L customers (not unique) have opted for internet service over 14 months.

* To gain more insights, we can combine this observation with other columns like churn value, total charges, contract type, payment method, and monthly charges, as mentioned earlier. This can help us understand the behavior and preferences of customers who have opted for internet service and identify potential areas for improvement or upselling.

In [ ]:
# Count the Internet Type values
df['Internet Type'].value_counts(dropna=False)

**Observation**:

* There are four types of internet services offered: Fiber Optic, Cable, DSL, and None.

* Majority of customers have opted for Fiber Optic and Cable internet services.

* There may be cases where the internet service is yes but the internet type is not specified (NaN values).

* There may be cases where the internet service is no but the internet type is specified (which does not make sense).

In [ ]:
# Count the values of internet service and type together
df[['Internet Service','Internet Type']].value_counts(dropna=False)

**Observation**:

* As these are not unique values , they are monthly values for each customer we'll have to see which customers had internet service for that month or not.

* Some customers have said yes to having internet service but their internet type is none.

* It could mean that the customer has not used the internet during that month. However, it could also mean that there is missing data or the customer is using an unknown type of internet service.

* We can check if there is any usage data available for the customer during that month. If there is usage data available, we can assume that the customer has used the internet and fill the missing value with the most common internet type for that customer. If there is no usage data available, we can leave the value as None.

### **Unlimited Data**

In [ ]:
# Count the values of the Unlimited Data column
df['Unlimited Data'].value_counts(dropna=False)

**Observation**:

* The majority of the customers have subscribed to the Unlimited Data plan across 14 months.

### **Streaming Movies**

In [ ]:
# Count the values of the streaming movies column
df['Streaming Movies'].value_counts(dropna=False)

**Observation**:

* The distribution is almost similar across 14 months.

### **Streaming TV**

In [ ]:
# Count the values of the streaming TV column
df['Streaming TV'].value_counts(dropna=False)

**Observation**:

* The distribution is almost similar across 14 months.

### **Streaming Music**

In [ ]:
# Count the values of the streaming movies column
df['Streaming Music'].value_counts(dropna=False)

**Observation**:

* The majority do not have a music streaming service across 14 months.

### **Streaming Data Consumption**

In [ ]:
# Check statistics
df['Streaming Data Consumption'].describe()

In [ ]:
# Plot
plt.figure(figsize=(10,6))
sns.distplot(df['Streaming Data Consumption'])
plt.xlabel('Streaming Data Consumption')
plt.ylabel('Frequency')
plt.show()

In [ ]:
# check null values
df['Streaming Data Consumption'].isna().sum()

**Observation**:

* The minimum value is 0 GB, indicating that some customers did not consume any streaming data during the month, while the maximum value is 85 GB.

* The highly right skewed distribution of streaming consumption data indicates that a small proportion of customers are consuming a disproportionately large amount of streaming data. 

* From a business perspective, this information could be used to tailor marketing and pricing strategies to target heavy streaming users and to offer them plans that meet their needs. 

* We can further explore how streaming data consumption relates to other columns such as "Streaming Movies" or "Streaming TV" to gain additional insights into customer behavior and preferences with respect to churn value and satisfaction score.

* There are no null values in the column.

### **Online Security**

In [ ]:
# Check the counts of Online Security column
df['Online Security'].value_counts(dropna=False)

**Observation**:

* The majority of customers did not have Online Security through the months.

### **Online Backup**

In [ ]:
# Check the counts of Online Backup Column
df['Online Backup'].value_counts(dropna=False)

**Observation**:

* The majority of customers did not have Online Backup through the months.

### **Device Protection Plan**

In [ ]:
# Count the number of unique values in the column
df['Device Protection Plan'].value_counts(dropna=False)

**Observation**:

* The distribution is similar through the months.

### **Premium Tech Support**

In [ ]:
# Count the unique values of Premium Tech Support
df['Premium Tech Support'].value_counts(dropna=False)

**Observation**:

* The majority of customers did not have Premium Tech Support through the months.

### **Payment Method**

In [ ]:
# Count the unique values of payment method
df['Payment Method'].value_counts(dropna=False)

**Observation**:

* Bank withdrawal is the most popular payment method among customers.

* There is a significant difference in the number of customers using bank withdrawal compared to credit card or wallet balance.

### **Status ID**

In [ ]:
# Total null values in Status ID
df['Status ID'].isna().sum()

In [ ]:
# Number of Unique Status IDs
df['Status ID'].nunique()

Each payment made by a consumer has a unique status Id.

### **Customer Satisfaction Score**

In [ ]:
# # Count the values each satisfaction score
df['Satisfaction Score'].value_counts(dropna=False)

**Observation**:

* Most of the customers have rated their satisfaction with a score of 3.

* A significant number of customers have rated their satisfaction with scores of 1 and 2.

* The satisfaction score is an important metric to measure customer satisfaction and loyalty.

* It is important to investigate why a significant number of customers have rated their satisfaction with lower scores, i.e., 1 and 2.

* Based on the insights obtained from other columns, such as the service type, internet type, and device protection plan, we can analyze whether there is a correlation between these variables and customer satisfaction.

### **Churn Category**

In [ ]:
# Count the values of different churn categories
df['Churn Category'].value_counts(dropna=False)

**Observation**:

* The "Churn Category" column has a high percentage of missing values, with NaN accounting for the majority of the values.

* Let's investigate the null values.

In [ ]:
# Let's see the churn value for all those observations where churn category is null
df[df['Churn Category'].isna()]['Churn Value'].value_counts(dropna=False)

Hence, if a customer is not churned, we can simply mark it as not applicable and mark others as unknown.

In [ ]:
# Filling null values of churn category as not applicatable where customers did not churn
df.loc[(df['Churn Category'].isna())&(df['Churn Value']==0),'Churn Category']='Not Applicable'

In [ ]:
# Filling the churn category as Unknown where churn value was 1
checkpoint('fcTel1')
df.loc[(df['Churn Category'].isna())&(df['Churn Value']==1),'Churn Category']='Unknown'

In [ ]:
# Check the counts again
df['Churn Category'].value_counts(dropna=False)

### **Churn Reason**

In [ ]:
# Count the values of different churn reasons
df['Churn Reason'].value_counts(dropna=False)

**Observation**:

* The "Churn Reason" column has a high percentage of missing values.

* Let's investigate the null values.

There are some null and absurd values in the churn reason column.

In [ ]:
# Count of null churn reasons and their churn value
df[(df['Churn Reason'].isna())]['Churn Value'].value_counts(dropna=False)

Anytime a customer is not churned, we can simply mark it as not applicable and mark others as unknown.

In [ ]:
# Filling the churn reason as not applicable where churn value was 0
df.loc[(df['Churn Reason'].isna())&(df['Churn Value']==0),'Churn Reason']='Not Applicable'

In [ ]:
# Filling the churn reason as Unknown where churn value was 1
df.loc[(df['Churn Reason'].isna())&(df['Churn Value']==1),'Churn Reason']='Unknown'

In [ ]:
# Check the value counts in the Churn Reason again
df['Churn Reason'].value_counts(dropna=False)

### **Customer Status**

In [ ]:
# Check the unique values 
df['Customer Status'].unique()

In [ ]:
# Check customer status and churn values together 
df[['Customer Status','Churn Value']].value_counts(dropna=False)

Everything seems good here!

### **Customer Call Usage Analysis**

In [ ]:
# All columns
df.columns

In [ ]:
# Setting customer id and month as index
df=df.set_index(['Customer ID','Month'])

In [ ]:
# Selecting specific columns to check the customer call usage
df_call_usage=df[['Month of Joining','roam_ic', 'roam_og', 'loc_og_t2t',
       'loc_og_t2m', 'loc_og_t2f', 'loc_og_t2c', 'std_og_t2t', 'std_og_t2m',
       'std_og_t2f', 'std_og_t2c', 'isd_og', 'spl_og', 'og_others',
       'loc_ic_t2t', 'loc_ic_t2m', 'loc_ic_t2f', 'std_ic_t2t', 'std_ic_t2m',
       'std_ic_t2f', 'std_ic_t2o', 'spl_ic', 'isd_ic', 'ic_others',
       'total_rech_amt','Phone Service']]

In [ ]:
# Top three rows
df_call_usage.head(3)

In [ ]:
# There are a lot of null values 
df_call_usage.describe()

**Observations**:

* 'roam_ic', 'roam_og', 'loc_og_t2t','loc_og_t2m', 'loc_og_t2f', 'loc_og_t2c', 'std_og_t2t', 'std_og_t2m','std_og_t2f', 'std_og_t2c', 'isd_og', 'spl_og', 'og_others' columns have max value as
8.787978e+06. 

* Some columns seem to have null values.

* The column total_rech_amt and Phone Service are missing from this table.

In [ ]:
# Let's check how many null values are present where calling plan is there
df_call_usage[df_call_usage['Phone Service']=='Yes'].isna().sum()

In [ ]:
# Lets check how many % values are missing
df_call_usage[df_call_usage['Phone Service']=='Yes'].isna().sum()/df_call_usage.shape[0]

In [ ]:
#lets check how many null values are present where calling plan is not there
df_call_usage[df_call_usage['Phone Service']=='No'].isna().sum()

In [ ]:
# Lets check how many % values are missing
df_call_usage[df_call_usage['Phone Service']=='No'].isna().sum()/df_call_usage.shape[0]

We will impute all these values later!

In [ ]:
# lets find datatypes of all the columns
df_call_usage.dtypes

Observe that `total_rech_amt` is object but according to data dictionary it is a float.

In [ ]:
# There are 124570 rows containg no calling plan
df_call_usage['Phone Service'].value_counts()

In [ ]:
# Counts of unique values in total rech amount
df_call_usage['total_rech_amt'].value_counts()

In [ ]:
# Replace the invalid value
df_call_usage.loc[df['total_rech_amt']=='e01','total_rech_amt']=10

Let's now change the column to a numeric datatype.

In [ ]:
# Changing the column back to numeric data type
df_call_usage['total_rech_amt']=pd.to_numeric(df_call_usage['total_rech_amt'])

In [ ]:
# Plot the the distribution using Box plot
plt.figure(figsize=(10,6))
sns.boxplot(df_call_usage['total_rech_amt'])
plt.title("The Distribution of Total Recharge Amount")
plt.xlabel("Total Recharge Amount")
plt.show()

It is worth noting that there are certain customers around 100,000.
Let's see how many of these customers there are.

In [ ]:
# Check the quantiles
df_call_usage['total_rech_amt'].quantile([0.1, 0.5,0.75 ,0.9,0.97,0.99,0.999])

Observe that for 0.990 percentile the value is greater 11875. Let's check how many customer are there with more recharge amount.

In [ ]:
# Filter the dataframe
df_call_usage[df_call_usage['total_rech_amt']>11875.0]

Notice that the majority of these values are present when phone service is not selected; let us see if all of the values follow the same pattern or not.

In [ ]:
# Check the value counts where phone service is no
df_call_usage[df_call_usage['Phone Service']=='No']['total_rech_amt'].value_counts()

**Observations**:

* The values 98769 and 0.1 in the distribution seem to be outliers or random values that need further investigation.

* It is recommended to replace the value 98769 with 0 as it seems to be an incorrect data entry.

* The value 0.1 could also be an incorrect data entry or an outlier that needs further investigation.

* It is possible that the values 989 and 10 in the distribution could be actual recharge amounts.

* It is also possible that for these values, the customers have opted for Phone Service but there was a mistake in data entry. Further investigation is needed to confirm this.

In [ ]:
# Filter the customers who have phone service and outlier values as well
df_call_usage[(df_call_usage['Phone Service']=='Yes')&(df_call_usage['total_rech_amt'].isin([0.1,98769]))]

There are no customers who recharged with 0.1 or 98769 and chose phone service.
We shall now replace those with 0's.

In [ ]:
# Replace values with 0
df_call_usage['total_rech_amt']=df_call_usage['total_rech_amt'].replace([0.1,98769],0)

In [ ]:
# Check the counts again for phone service = no
df_call_usage[df_call_usage['Phone Service']=='No']['total_rech_amt'].value_counts()

In [ ]:
# Plot a boxplot for such values
preserve("fcTel1")
plt.figure(figsize=(10,6))
sns.boxplot(df_call_usage[(df_call_usage['Phone Service']=='No')&(df_call_usage['total_rech_amt'].isin([989,10]))])
plt.title("Distribution of Variables for Customers with no Phone Service")
plt.xlabel("Call Analysis Variables")
plt.xticks(rotation=90)
plt.show()

Take note that almost all of the columns have a value close to 0 or 8*E6.

Let's look at the quantiles for all of the outgoing call utilisation columns.

In [ ]:
# Specifying the calling columns
outgoing_call_col=['roam_og', 'loc_og_t2t','loc_og_t2m', 'loc_og_t2f', 'loc_og_t2c', 'std_og_t2t', 'std_og_t2m',
                    'std_og_t2f', 'std_og_t2c', 'isd_og', 'spl_og', 'og_others']

In [ ]:
# Call Usage for customers with no phone service and high recharge amount
df_call_usage[(df_call_usage['Phone Service']=='No')&(df_call_usage['total_rech_amt'].isin([989,10]))][outgoing_call_col].apply(lambda col: col.unique())

**Observations**:

* It is noticeable that the values are restricted to a few options including 0, 45, 46254, 8787978, and 68. 

* These values seem to have some relation with the recharge amount. However, it is evident that these values are unlikely to be actual data and are likely due to data entry errors.

* In a real-life scenario, it would be advisable to investigate these values with the business to ensure accuracy. 

* However, for the purpose of this analysis, we can assume that these values are erroneous and proceed to replace all corresponding recharge amounts with 0.

Before we replace the values, let's see if this recharge amount exists when Phone Service is selected.

In [ ]:
# Filter the values where phone service is yes and recharge amt is in 10 or 989
df_call_usage[(df_call_usage['Phone Service']=='Yes')&(df_call_usage['total_rech_amt'].isin([10,989]))]

In [ ]:
# Plot a boxplot for such values
plt.figure(figsize=(10,6))
sns.boxplot(df_call_usage[(df_call_usage['Phone Service']=='Yes')&(df_call_usage['total_rech_amt'].isin([10,989]))])
plt.title("Distribution of Variable for Customers with a Phone Service")
plt.xlabel("Call Analysis Variables")
plt.xticks(rotation=90)
plt.show()

There are no outliers (8*E6) for these values.

This provides us more confidence in replacing the $10, 989 recharge amount when the phone service is not selected.

In [ ]:
# Replacing all recharge amounts =0 where there is no phone service
df_call_usage.loc[df_call_usage['Phone Service']=='No','total_rech_amt']=0

Now that we've replaced all of the anomalies with 0, let's look at the graph for all of the data again.

In [ ]:
# Plot the the distribution using Box plot
plt.figure(figsize=(10,6))
sns.boxplot(df_call_usage['total_rech_amt'])
plt.title("The Distribution of Total Recharge Amount")
plt.xlabel("Total Recharge Amount")
plt.show()

In [ ]:
# Shape of the dataframe for recharge amount > 10000
df_call_usage[df_call_usage['total_rech_amt']>10000].shape

**Observation**:

* From our previous analysis, we found that more than 25% of customers have a total recharge amount above 1158. Hence, it is not feasible to replace these values. It is possible that these customers have actually made such a high recharge.

* Regarding the customers with a recharge amount of 11875, it is worth checking their usage to verify whether this amount is valid or not.

### **Outgoing Calls Analysis**

In [ ]:
# Plot the the distribution using Box plot
plt.figure(figsize=(10,6))
sns.boxplot(df_call_usage[outgoing_call_col])
plt.title("The Distribution of Outgoing Calls Variables")
plt.xlabel("Outgoing Calls Variables")
plt.xticks(rotation=90)
plt.show()

As we previously showed, all of these columns have a maximum value in the range 8E6, which we no longer have.

Let us first see the boxplot for consumers who did not select Phone Service.

In [ ]:
# Plot the the distribution using Box plot
plt.figure(figsize=(10,6))
sns.boxplot(df_call_usage[df_call_usage['Phone Service']=='No'])
plt.title("The Distribution of Outgoing Calls Variables for Customers with no Phone Service")
plt.xlabel("Outgoing Calls Variables")
plt.xticks(rotation=90)
plt.show()

In [ ]:
# Plot the the distribution using Box plot
plt.figure(figsize=(10,6))
sns.boxplot(df_call_usage[(df_call_usage['Phone Service']=='No')&(df_call_usage['total_rech_amt']==0)][outgoing_call_col])
plt.title("The Distribution of Outgoing Calls Variables for Customers with no Phone Service and Recharge Amount")
plt.xlabel("Outgoing Calls Variables")
plt.xticks(rotation=90)
plt.show()

Customers who did not select Phone Service and whose total recharge amount is 0 have values of 0 or roughly 8*1E6.

Let's look at the boxplot for customers that chose Phone Service.

In [ ]:
# Plot the the distribution using Box plot
plt.figure(figsize=(10,6))
sns.boxplot(df_call_usage[df_call_usage['Phone Service']=='Yes'][outgoing_call_col])
plt.title("The Distribution of Outgoing Calls Variables for Customers with Phone Service")
plt.xlabel("Outgoing Calls Variables")
plt.xticks(rotation=90)
plt.show()

From above two boxplots we can conclude that the abnormal outgoing calls values are only for the customer who didn't opt for Phone Service.
Lets analyze those further

In [ ]:
# Analyze customers with and without phone service separatelly
df_call_usage_phone_no=df_call_usage[df_call_usage['Phone Service']=='No']
df_call_usage_phone_yes=df_call_usage[df_call_usage['Phone Service']=='Yes']

In [ ]:
# Columns
df_call_usage_phone_no.columns

In [ ]:
# Roaming Outgoing Value Counts
df_call_usage_phone_no['roam_og'].value_counts()

**Observations**:

* Take note that the figures 8787978 and 46254 are abnormal. It is not possible for a person to make so many outbound calls in a month.

* 46254 minutes is approximately 32 days, which is more than a month.

* As a result, we will replace both values with 0.

In [ ]:
# Replacing these values
df_call_usage_phone_no['roam_og']=df_call_usage_phone_no['roam_og'].replace([46254,8787978],0)

In [ ]:
# Checking the roaming outgoing value counts
df_call_usage_phone_no['roam_og'].value_counts()

In [ ]:
# Check where the recharge amount is 0 but we have roaming calls
df_call_usage_phone_no[df_call_usage_phone_no['total_rech_amt']==0]['roam_og'].value_counts()

We took all of the customers that did not opt for phone service, and the recharge amount is 0.

We will replace all of these values with 0 because they cannot make outbound calls without a recharge and a Phone Service plan.

In [ ]:
# Replace the values with 0
df_call_usage_phone_no.loc[df_call_usage_phone_no['total_rech_amt']==0,'roam_og']=0

In [ ]:
# 0 roaming calls for customers with no phone service
df_call_usage_phone_no['roam_og'].value_counts()

In [ ]:
# Plot the the distribution using Box plot
plt.figure(figsize=(10,6))
sns.boxplot(df_call_usage_phone_yes['roam_og'])
plt.title("The Distribution of Roaming Outgoing Calls for Customers with Phone Service")
plt.xlabel("Roaming Outgoing Calls")
plt.show()

In [ ]:
# Check the quantiles
df_call_usage_phone_yes['roam_og'].quantile([0.1, 0.5,0.75 ,0.9,0.97,0.99])

These values seem to valid. We will now determine the amount of the recharge for these customers.

In [ ]:
# Plot the the distribution using Box plot
plt.figure(figsize=(10,6))
sns.histplot(data=df_call_usage_phone_yes, x='total_rech_amt', bins=20)
plt.title("The Distribution of Total Recharge Amount for Customers with Phone Service")
plt.xlabel("Total Recharge Amount")
plt.show()

In [ ]:
# The shape of data where in recharge was 0 for customers with phone service
df_call_usage_phone_yes[df_call_usage_phone_yes['total_rech_amt']==0].shape

It should be noted that the following customers (262 in total but not all unique) have chosen phone service but there is no recharge amount available.

In [ ]:
# Plot the the distribution using Box plot
plt.figure(figsize=(10,6))
sns.boxplot(df_call_usage_phone_yes[df_call_usage_phone_yes['total_rech_amt']==0])
plt.title("The Distribution of Outgoing Call Variables for Customers with Phone Service but no recharge amount")
plt.xlabel("Outgoing Call Variables")
plt.xticks(rotation=90)
plt.show()

We will not impute any other value for these customer in total_rech_amt. It is possible that company has given them some offer or they might have recharged but its not reflected in the data.

#### **Local outgoing calls within same network in minutes**

In [ ]:
# Check the counts
df_call_usage_phone_no['loc_og_t2t'].value_counts()

We will replace the values 46254 and 8787978 in all outgoing call columns.

In [ ]:
checkpoint('fcTel1')
for col in outgoing_call_col:
    # for col replace 46254 and 8787978 values with 0
    df_call_usage_phone_no[col]=df_call_usage_phone_no[col].replace([46254,8787978],0)
    # for col replace the value with 0 when there is no phone service and recharge
    df_call_usage_phone_no.loc[df_call_usage_phone_no['total_rech_amt']==0,col]=0

In [ ]:
# Value counts for all outgoing call variables for customers with no phone service
for col in outgoing_call_col:
    print("value count for ",col)
    print(df_call_usage_phone_no[col].value_counts())
    print("-------------------------")

**Observations**:

* We observed that some customers who did not opt for phone service and have not recharged their account also have not placed any outgoing calls. This makes sense as they are not subscribed to the service and hence cannot make any calls.

* To further analyze the outgoing call patterns, we will focus on customers who have opted for phone service.

In [ ]:
# Creating quantile df for outgoing calls
quantile_outgoing_call_df=pd.DataFrame(columns=outgoing_call_col,index=[0.1,0.25,0.5,0.75,0.8,0.9,0.95,0.97,0.99])

In [ ]:
# Entering data in quantile df
for col in outgoing_call_col:
   quantile_outgoing_call_df[col]=df_call_usage_phone_yes[col].quantile([0.1,0.25,0.5,0.75,0.8,0.9,0.95,0.97,0.99])

### **Outgoing call Quantiles for customers with Phone Service**

In [ ]:
# Quantile df
quantile_outgoing_call_df


All the values in the outgoing call columns for customers with phone service seem to be appropriate and valid. Therefore, we do not need to make any alterations to these values.

Next, we will update the df_call_usage_phone_no and df_call_usage_phone_yes dataframes to the original dataframe.

In [ ]:
# Updating the call usage df 
df_call_usage.update(df_call_usage_phone_no)
df_call_usage.update(df_call_usage_phone_yes)

### **Incoming Calls Analysis**

In [ ]:
# Creating incoming calls variables column list
incoming_call_col=['roam_ic','loc_ic_t2t', 'loc_ic_t2m', 'loc_ic_t2f', 'std_ic_t2t',
       'std_ic_t2m', 'std_ic_t2f', 'std_ic_t2o', 'spl_ic', 'isd_ic',
       'ic_others']

It should be noted that even if a customer does not have phone service, he or she may receive an incoming call. So we'll just look at quantiles and boxplots for all of the columns.

In [ ]:
# Creating quantile df for incoming calls
quantile_incoming_call_df=pd.DataFrame(columns=incoming_call_col,index=[0.1,0.25,0.5,0.75,0.8,0.9,0.95,0.97,0.99])

In [ ]:
# Entering incoming calls data into the quantile df
for col in quantile_incoming_call_df:
   quantile_incoming_call_df[col]=df_call_usage[col].quantile([0.1,0.25,0.5,0.75,0.8,0.9,0.95,0.97,0.99])
quantile_incoming_call_df

Except for roam_ic, all other columns appear to have appropriate values. We will not change them.

Let us analyze the roam_is column further.

In [ ]:
# Counts of unique values in roam_ic column
df_call_usage['roam_ic'].value_counts()

We can also observe 46254 and 8787978 figures here. Let us substitute 0 for them.

Numbers 45 and 68 are also there, but we will not update them because it is possible that they are true values rather than data entering errors.

In [ ]:
# Replacing Outliers with 0
df_call_usage['roam_ic']=df_call_usage['roam_ic'].replace([46254,8787978],0)

In [ ]:
# Plot the the distribution using Box plot
plt.figure(figsize=(10,6))
sns.boxplot(df_call_usage['roam_ic'])
plt.title("The Distribution of Incoming Roaming Calls")
plt.xlabel("Incoming Roaming Calls")
plt.show()

### **Internet Services**

In [ ]:
# Check customer data usage
df_data_usage=df[['Month of Joining',
        'total_rech_data', 'vol_4g', 'vol_5g',
       'Internet Service']]

In [ ]:
# Data types involved
df_data_usage.dtypes

Observe that total_rech_data is object but according to data dictionary it should be float.

In [ ]:
# Check the value counts
df_data_usage['Internet Service'].value_counts()

In [ ]:
# Total recharge data value counts
df_data_usage['total_rech_data'].value_counts()

We can see there is e01 value in the column. Let's replace it with 10.

In [ ]:
# Replacing the values
df_data_usage['total_rech_data']=df_data_usage['total_rech_data'].replace('e01',10)

In [ ]:

# Now we will convert the total rech data into a numeric column
df_data_usage['total_rech_data']=pd.to_numeric(df_data_usage['total_rech_data'])

In [ ]:
# Plot the the distribution using Box plot
plt.figure(figsize=(10,6))
sns.boxplot(df_data_usage['total_rech_data'])
plt.title("The Distribution of Total Recharge Data")
plt.xlabel("Total Recharge Data")
plt.show()


Observe that there are some outliers.

In [ ]:
# Check the quantiles
df_data_usage['total_rech_data'].quantile([0.1,0.25,0.5,0.75,0.8,0.9,0.95,0.97,0.99])

Let's see how many customer have data recharge more than $31.

In [ ]:
# Filtering the data
df_data_usage[df_data_usage['total_rech_data']>31]

We can observe that many of them have not chosen Internet Service.
Let's look at the unique numbers for total rech data where customers have not chosen Internet Service.

In [ ]:
# Check the total recharge data unique value counts where in there is no internet service 
df_data_usage[df_data_usage['Internet Service']=='No']['total_rech_data'].value_counts()

The 10 and 1.6 data recharge amounts appear to be correct. We need to analyze further and decide whether to replace the values or remove the No from the Internet service.

89890 and 7987 appear to be absurd values. Because there is no Internet Service Plan, we can replace them with 0.

In [ ]:
# Replacing absurd values with 0
df_data_usage['total_rech_data']=df_data_usage['total_rech_data'].replace([7987,89890],0)

Let's look at 10 and 1.6 now.

In [ ]:
# Checking volumes of 4g and 5g data where internet service is no
df_data_usage[(df_data_usage['Internet Service']=='No')&(df_data_usage['total_rech_data'].isin([10,1.6]))][['vol_4g','vol_5g']].apply(lambda col: col.unique())

In [ ]:
# Checking volumes of 4g and 5g data where internet service is yes
df_data_usage[(df_data_usage['Internet Service']=='Yes')&(df_data_usage['total_rech_data'].isin([10,1.6]))][['vol_4g','vol_5g']].apply(lambda col: col.unique())

**Observations**:

* We can clearly observe that anytime a data recharge of 10 or 1.6 is made and the Internet service is selected, the vol 4g and vol 5g have varying values.

* But, when the Internet service is turned off, the results are either 0, 63, 254687, 87978, or 789.

* We can go to business and inquire about this here.

In [ ]:
# Replacing the values
df_data_usage.loc[df_data_usage['Internet Service']=='No','total_rech_data']=0

For customers who did not choose Internet service, we replaced all data with 0.

In [ ]:
# Plot the the distribution using Box plot
plt.figure(figsize=(10,6))
sns.boxplot(df_data_usage['total_rech_data'])
plt.title("The Distribution of Total Recharge Data")
plt.xlabel("Total Recharge Data")
plt.show()

There are some customers who are above the 75th percentile. We are not going to change those values.

We already discussed imputing arpu 4g and arpu 5g after analyzing this variable, so let's do it now.

In [ ]:
# Check the value counts for total recharge data where arpu 4g and 5g is null
df[(df['arpu_4g'].isna())&(df['arpu_5g'].isna())]['total_rech_data'].value_counts(dropna=False)

In [ ]:
# Replacing the values with Not Applicable
df.loc[(df['arpu_4g'].isna())&(df['arpu_5g'].isna())&(df['total_rech_data'].isna()),['arpu_4g','arpu_5g']]='Not Applicable'

### **vol_4g and vol_5g columns**

In [ ]:
# separately analyzing the internet volumes for customers with and without inetrnet service
df_data_usage_internet_no=df_data_usage[df_data_usage['Internet Service']=='No']
df_data_usage_internet_yes=df_data_usage[df_data_usage['Internet Service']=='Yes']

In [ ]:
# Plot the the distribution using Box plot
plt.figure(figsize=(10,6))
sns.boxplot(df_data_usage_internet_yes['vol_4g'])
plt.title("The Distribution of 4g Volume for Customers with Internet Service")
plt.xlabel("4G Internet Volume")
plt.show()

In [ ]:
# Check the quantiles
df_data_usage_internet_yes['vol_4g'].quantile([0.1,0.25,0.5,0.75,0.8,0.9,0.95,0.97,0.99])

We will not alter any of these values.

In [ ]:
# Plot the the distribution using Box plot
plt.figure(figsize=(10,6))
sns.boxplot(df_data_usage_internet_no['vol_4g'])
plt.title("The Distribution of 4g Volume for Customers without Internet Service")
plt.xlabel("4G Internet Volume")
plt.show()

The abnormal values are when Internet service is not opted.

In [ ]:
# Value counts of 4g data without inetrnet service
df_data_usage_internet_no['vol_4g'].value_counts()

Let's see how many of these values are there without any data recharge.

In [ ]:
# Count the values in 4G volume with no internet service and recharge data 
df_data_usage_internet_no[df_data_usage_internet_no['total_rech_data']==0]['vol_4g'].value_counts()

When vol-4g data is utilised in GB, the values 254687 and 87978 appear to be absurd. Let us substitute 0 for them.

We earlier saw that the customers had recharged with 10, 1.6, or other absurd quantities, and we replaced all data recharge amounts with 0.

Similarly, we will replace all of the values here.

In [ ]:
# Replacing the value with 0
df_data_usage_internet_no.loc[df_data_usage_internet_no['total_rech_data']==0,'vol_4g']=0

In [ ]:
# Checking the values of 4g volume without internet service
df_data_usage_internet_no['vol_4g'].value_counts()

In [ ]:
# Plot the the distribution using Box plot
plt.figure(figsize=(10,6))
sns.boxplot(df_data_usage_internet_yes['vol_5g'])
plt.title("The Distribution of 5g Volume for Customers with Internet Service")
plt.xlabel("5G Internet Volume")
plt.show()

In [ ]:
# Check the quantiles
df_data_usage_internet_yes['vol_5g'].quantile([0.1,0.25,0.5,0.75,0.8,0.9,0.95,0.97,0.99])

In [ ]:
# Check the 5g volume value counts for customers with no internet service
df_data_usage_internet_no['vol_5g'].value_counts()

The abnormal values are there when Internet service is not opted.

In [ ]:
# Value counts of 5g volume without internet service
df_data_usage_internet_no[df_data_usage_internet_no['total_rech_data']==0]['vol_5g'].value_counts()

**Observations**:

* It is worth noting that all customers with large amounts of data consumption have either recharged with 0, 10, or 1.6, which appears to be unusual. We will now replace all of these values.


* Because vol-5g is data utilised in GB, the values 254687 and 87978 appear to be absurd. Let us substitute 0 for them.

In [ ]:
# Replacing values with 0
df_data_usage_internet_no.loc[df_data_usage_internet_no['total_rech_data']==0,'vol_5g']=0

In [ ]:
# Check the counts again
df_data_usage_internet_no['vol_5g'].value_counts()

In [ ]:
# update the dataframes
df_data_usage.update(df_data_usage_internet_no)
df_data_usage.update(df_data_usage_internet_yes)

We have updated all of the df data usage and df call usage values.

We can update both of them in our main dataframe df.

In [ ]:
# Update original dataframe
df.update(df_call_usage)
df.update(df_data_usage)

Let's now check % of missing values in the data!

In [ ]:
# Creating a missing value df with the null values of our original dataframe
percent_missing = df.isna().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing.values})

In [ ]:
# Percentage of missing values in each column
missing_value_df

In [ ]:
# Missing value columns with > 20 % missing values
missing_value_df[missing_value_df.percent_missing>20]

Missing values greater than 20% should not be imputed because the imputation process may introduce bias and distort the true distribution of the data. Imputing a large percentage of missing values may also result in unreliable and inaccurate analysis. In such cases, it may be better to drop the columns!

Let's select all the columns with less missing values and impute them.

In [ ]:
# We will only select columns with <20% missing values
missing_impute_cols=list(missing_value_df[(missing_value_df.percent_missing>1)&(missing_value_df.percent_missing<20)]['column_name'])

In [ ]:
# All columns with missing values less than 20 %
missing_impute_cols

In [ ]:
# Shape
df[missing_impute_cols].shape

In [3]:
#feedback
feedback()

## **Imputation Techniques**

Data imputation refers to the process of filling in missing values in a dataset. In machine learning, imputing missing values is important because many algorithms are sensitive to missing values and cannot handle them effectively. If missing values are not handled, they can lead to biased or incorrect results, especially when using methods like regression, decision trees, and clustering.

There are several techniques used for data imputation in machine learning, including:

Mean/Median/Mode imputation: In this method, missing values are replaced by the mean, median, or mode of the non-missing values in the same column. Mean imputation is used for continuous variables, median imputation for ordinal variables, and mode imputation for categorical variables. This method is simple and easy to implement, but it can result in loss of information and introduce bias if the distribution of the data is not symmetrical.

Regression imputation: In this method, a regression model is used to predict the missing values based on the values of the other variables in the dataset. The regression model can be linear, polynomial, or any other type of regression model. The advantage of this method is that it can capture the relationship between the variables, but it requires a well-defined regression model and can result in overfitting if the model is too complex.

## **Multivariate Imputation by Chained Equation (MICE)**

MICE algorithm is probably one of the most used imputation techniques and also a popular interview question.

Multivariate Imputation by Chained Equation (MICE) is a statistical technique used to impute missing values in a dataset with multiple variables. MICE is a flexible and powerful imputation method that can handle missing data in both continuous and categorical variables, as well as variables with complex relationships.

MICE works by creating multiple imputed datasets, where missing values are imputed based on the observed values of other variables in the dataset. The imputation process is performed in a sequential manner, where each variable is imputed conditional on the observed values of the other variables in the dataset. This process is repeated multiple times, with each iteration generating a new set of imputed values for the missing data.

The mathematical formulation of MICE can be described as follows:

Suppose we have a dataset $Y$ with n observations and p variables, where some of the values are missing. Let $\hat{Y}$ denote the imputed dataset, where missing values are replaced by imputed values.

The MICE algorithm can be broken down into the following steps:

* Initialization: Initialize the imputed dataset $\hat{Y}$ by using a simple imputation method, such as mean imputation or regression imputation. 

* To apply MICE algorithm, we will use IterativeImputer from scikit-learn. This estimator is still under experimental so we must import enable_iterative_imputer.

* Iteration: For each variable i, impute the missing values using the conditional distribution of i given the observed values of the other variables in $\hat{Y}$. Let $\hat{Y_i}$ denote the imputed values for variable i, where missing values are replaced by imputed values. Repeat this step for all variables in the dataset.

* Convergence: Repeat the iteration step multiple times until the imputed values converge to a stable solution. This can be assessed by examining the convergence of the imputed values across iterations.

* Combining: After multiple imputed datasets have been created, combine the results using a formula that takes into account the uncertainty in the imputed values. For example, the final imputed value for a variable could be the average of the imputed values across multiple datasets.
The MICE algorithm can be expressed mathematically using the following formula:
\begin{equation}
Y_{i}^{*} = f_{i}(Y_{1}, Y_{2}, ..., Y_{i-1}, Y_{i+1}, ..., Y_{p})
\end{equation}
where $Y_{i}^{*}$ is the imputed value for variable i, $f_{i}$ is the imputation model for variable i, and $Y_{1}$, $Y_{2}$, ..., $Y_{i-1}$, $Y_{i+1}$, ..., $Y_{p}$ are the observed values of the other variables in the dataset.

MICE is a powerful imputation method that can handle missing data in complex datasets. It has been shown to be more accurate than other imputation methods, such as listwise deletion and mean imputation.

In [ ]:
# Imputing with MICE
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn import linear_model

In [ ]:
# Columns with Missing Values
missing_impute_cols

In [ ]:
# Filtering and creating a copy dataframe
df_mice = df.filter(missing_impute_cols, axis=1).copy()

In [ ]:
# Top three rows
df_mice.head(3)

In [ ]:
# Data types involved
df_mice.dtypes

In [ ]:
# Not imputing missing values now
missing_impute_cols.remove('arpu_4g')
missing_impute_cols.remove('arpu_5g')

In [ ]:
# Creating the copy dataframe for mice imputation
df_mice = df.filter(missing_impute_cols, axis=1).copy()

In [ ]:
# Define MICE Imputer and fill missing values
mice_imputer = IterativeImputer(estimator=linear_model.BayesianRidge(), n_nearest_features=None, imputation_order='ascending')

In [ ]:
# Fit Transform the data
df_mice_imputed = pd.DataFrame(mice_imputer.fit_transform(df_mice), columns=df_mice.columns,index=df_mice.index)
save_point("fcTel1")

In [ ]:
# Top three rows after imputation
df_mice_imputed.head(3)

In [ ]:
# Verifying the imputation
df_mice_imputed.isna().sum()

Let's update this dataframe to original dataframe!

In [ ]:
# Update the original dataframe
df.update(df_mice_imputed)

In [ ]:
# Top three rows
df.head(3)

Let's do imputation for arpu_4g and arpu_5g!

In [ ]:
# Select the columns
df_arpu=df[['arpu_4g','arpu_5g']]

In [ ]:
# Filtering the 4G ARPU dataframe where values are not "Not Applicable"
df_arpu_filterd=df_arpu[df_arpu.arpu_4g!='Not Applicable']

In [ ]:
# # Filtering the 5g ARPU dataframe where values are not "Not Applicable"
df_arpu_filterd=df_arpu_filterd[df_arpu_filterd.arpu_5g!='Not Applicable']

In [ ]:
# Top three rows
df_arpu_filterd.head(3)

In [ ]:
# Fit transform rest of the data for 4G and 5G ARPU
df_arpu_mice_imputed = pd.DataFrame(mice_imputer.fit_transform(df_arpu_filterd), columns=df_arpu_filterd.columns,index=df_arpu_filterd.index)

In [ ]:
# Top three rows for imputed data
df_arpu_mice_imputed.head(3)

Let's update this to original dataframe!

In [ ]:
# Verifying that there are no missing values
df_arpu_mice_imputed.isna().sum()

In [ ]:
# Updating the main dataframe
df.update(df_arpu_mice_imputed)

In [ ]:
# Verifying that there are no missing values
df[df['arpu_4g'].isna()]

In [ ]:
# Verifying that there are no missing values
df.isna().sum()

In [ ]:
# Resetting Index
df=df.reset_index(drop=False)

In [ ]:
# Save Data
# df.to_csv('../data/processed/Telecom_Data.csv',index=False)

## **Bivariate Analysis**

Bivariate data analysis is the statistical analysis that deals with the study of the relationship between two variables. In bivariate analysis, the variables are studied to determine if there is a relationship between them and to what extent they are related.

Bivariate analysis is often used to study the association or correlation between two quantitative variables, such as height and weight, or between two categorical variables, such as gender and occupation. It can also be used to study the relationship between a quantitative and a categorical variable, such as age and income by occupation.

Some common techniques used in bivariate data analysis include scatterplots, correlation analysis, contingency tables, and regression analysis. These techniques help to visually and quantitatively explore the relationship between the variables of interest.

 The goal of bivariate analysis is to identify patterns and relationships in data that can be used to make predictions or draw conclusions.

Filling rest of the missing values with 0

In [ ]:
# replace arpu 4G NA to 0
df['arpu_5g'].replace("Not Applicable", 0, inplace=True)
df['arpu_4g'].replace("Not Applicable", 0, inplace=True)

df["total_rech_data"] = df["total_rech_data"].fillna(0)
df['total_rech_amt'] = df['total_rech_amt'].fillna(0)
df['night_pck_user'] = df['night_pck_user'].fillna(0)
df['fb_user'] = df['fb_user'].fillna(0)

In [ ]:
# Converting categorical variables back to category type For ex- Month is stored in numerical format

other_cat_vars =  ['Month', 'Month of Joining', 'zip_code', 'latitude', 'longitude','night_pck_user', 'fb_user', 'Churn Value']

for var in other_cat_vars:
    df[var] = df[var].astype('object')

# list of categorical variables
cat_vars = list(df.select_dtypes(include=['object']).columns)

In [ ]:
# list of numerical variables
num_vars = list(df.select_dtypes(include=['int64', 'float64']).columns)

In [ ]:
len(num_vars)

### **Month and Churn Value**

In [ ]:
# Plot the churn by month
plt.figure(figsize=(10,6))
sns.countplot(x="Month", hue="Churn Value", data=df)
plt.title("Countplot of churned vs. non-churned customers for each month")

churn_by_month = df.groupby('Month')['Churn Value'].mean()
print(churn_by_month)

**Observation**:

* We can observe that January has the highest churn rate of 36.44%, followed by February with a churn rate of 16.57%. March has a churn rate of 14.84%, which is slightly lower than February. After that, the churn rate decreases steadily for the remaining months, with the lowest churn rate being in July with only 1.87%.

* This indicates that there may be some seasonal patterns in the customer churn rate, with the churn rate being highest during the first few months of the year and gradually decreasing towards the end of the year.

### **Age and Churn Value**

In [ ]:
# Put ages into bins
bins = [0, 18, 25, 35, 50, 65, 100]
labels = ['<18', '18-24', '25-34', '35-49', '50-64', '65+']
df['age_bucket'] = pd.cut(df['Age'], bins=bins, labels=labels)

# Plot Age vs Churn Distribution
plt.figure(figsize=(10,6))
sns.histplot(data=df, x='age_bucket', hue='Churn Value', multiple='stack')
plt.title('Distribution of Ages for Churned vs. Non-Churned Customers')
plt.xlabel('Age')
plt.ylabel('Count')
plt.show()

In [ ]:
# Get count of churned and non-churned customers 
age_churn_counts = df.groupby(['age_bucket', 'Churn Value'])['Churn Value'].count()
print(age_churn_counts)

In [ ]:
# calculate churn rate for each age bucket
age_churn_rates = df.groupby('age_bucket')['Churn Value'].mean()
print(age_churn_rates)

**Observation**:

* There doesn't seem to be a significant difference in churn rates across the different age buckets. The churn rate ranges from 4.49% to 4.71% across the different age buckets, with the highest churn rate being in the 50-64 age bucket. However, the difference in churn rate between the age buckets is relatively small, with none of them being significantly higher or lower than the others. 

* This suggests that age may not be a strong predictor of churn on its own, and that other variables may be more important in determining whether a customer will churn or not.

### **Age and ARPU**

In [ ]:
# Create a box plot to compare the distribution of ARPU for churned vs. non-churned customers in each age bucket
plt.figure(figsize=(10,6))
sns.boxplot(data=df, x='age_bucket', y='arpu', hue='Churn Value')
plt.title('ARPU Distribution for Churned vs. Non-Churned Customers in Each Age Bucket')
plt.xlabel('Age Bucket')
plt.ylabel('ARPU')
plt.show()

# Calculate the mean ARPU for churned vs. non-churned customers
age_arpu = df.groupby(['age_bucket', 'Churn Value'])['arpu'].mean().reset_index()
print(age_arpu)

**Observation**:

* In general, we can see that the average revenue per user (ARPU) is higher for churned customers in all age buckets. This may indicate that customers who spend more on the service are more likely to churn, which is a cause for concern for the company.

* We can see that the churn rates for different age groups are similar, but the average revenue per user (ARPU) is higher for older customers who did not churn. This suggests that older customers may be more loyal to the product and less likely to switch to a competitor, but they also value consistency and are less likely to increase their spending on the product.

### **Age and Customer Satisfaction Score**

In [ ]:
# boxplot to visualize the distribution of satisfaction scores for each age bucket
checkpoint('fcTel1')
plt.figure(figsize=(10,6))
sns.boxplot(data=df, x='age_bucket', y='Satisfaction Score', hue='Churn Value')
plt.title('Distribution of Satisfaction Scores by Age and Churn')
plt.xlabel('Age Bucket')
plt.ylabel('Satisfaction Score')
plt.show()

# Calculate the mean satisfaction score for each age bucket and churn group
age_satisfaction = df.groupby(['age_bucket', 'Churn Value']).agg({'Satisfaction Score': 'mean'}).reset_index()

# Pivot the table to make the churn values into columns
age_satisfaction = age_satisfaction.pivot(index='age_bucket', columns='Churn Value', values='Satisfaction Score')
print(age_satisfaction)

**Observation**:

* Overall, the mean satisfaction scores are relatively similar across all age buckets, ranging from 3.18 to 3.19.

* Let's see the most frequent reason for churn in each age group.

In [ ]:
# Create a pivot table with churn reasons as columns and age buckets as rows
pivot_table = pd.pivot_table(df, index='age_bucket', columns='Churn Reason', values='Churn Value', aggfunc='sum')

# Remove the "Unknown" category from the pivot table
age_pivot = pivot_table[pivot_table.columns.drop("Unknown")]

# Get the top three most frequent reasons for churn in each age bucket
top_three = age_pivot.apply(lambda x: x.nlargest(3).index.tolist(), axis=1).to_frame(name='Top Three Reasons')

In [ ]:
# Let's look into the pivot table
age_pivot

In [ ]:
# top three reasons
top_three = top_three.reset_index().drop(0).reset_index(drop=True)

In [ ]:
top_three

In [ ]:
# Print the top reasons people churned in each age bucket
for i, row in top_three.reset_index().iterrows():
    print(row['age_bucket'], row['Top Three Reasons'])

**Observations**:

* The most common churn reasons are related to dissatisfaction with the service provided by the company, followed by competition from other service providers for customers across all age brackets.

* Attitude of support person was one of the top reasons for churn across all age groups. The company could invest in training their support staff to provide better customer service, and focus on addressing customer complaints professionally and effectively.

* Competitors offering better devices and more data were a common reason for churn in the 35-49 and 65+ age groups. The company could consider offering competitive deals and promotions to retain customers and attract new ones.

* Lack of self-service on the website was a common reason for churn in the 18-24 and 25-34 age groups, and was also a contributing factor in the 35-49 age group. The company could work on improving their website and mobile app to offer more self-service options, such as account management and bill payment, to make it easier for customers to manage their accounts.

### **Negative ARPU**

**Univarite Data Analysis Observation**:

The fact that 17% of the people have negative arpu means that a significant proportion of the customer base is not generating revenue for the telecom company. 

This could be due to a number of reasons, such as inactive accounts, delinquent accounts, or accounts with outstanding balances. 

To understand more about this issue, we can investigate other variables that may be related to negative arpu, such as churn status. We can also look at the distribution of negative arpu values across different demographic groups, such as age, gender, and location, to see if there are any patterns or trends. 

Additionally, we can explore whether there are any correlations between negative arpu and other variables, such as usage patterns, service subscriptions, and customer satisfaction scores to understand what's causing this behaviour.

Overall, further investigation is needed to fully understand the implications of negative arpu for the telecom company.

In [ ]:
# calculate the percentage of customers with negative ARPU
negative_arpu_percentage = (df[df['arpu'] < 0]['arpu'].count() / df.shape[0]) * 100

# create a bar plot to visualize the negative ARPU percentage
plt.figure(figsize=(10,6))
plt.bar(['Negative ARPU', 'Positive ARPU'], [negative_arpu_percentage, 100 - negative_arpu_percentage])
plt.title('Percentage of Customers with Negative ARPU')
plt.xlabel('ARPU')
plt.ylabel('Percentage')
plt.show()

In [ ]:
# the relationship between negative ARPU and churn status
churn_negative_arpu = df[df['arpu'] < 0]['Churn Value'].value_counts(normalize=True)

# create a pie chart to visualize the churn status of customers with negative ARPU
plt.figure(figsize=(10,6))
plt.pie(churn_negative_arpu, labels=churn_negative_arpu.index, autopct='%1.1f%%')
plt.title('Churn Status of Customers with Negative ARPU')
plt.show()

**Observation**: 

* 95.2% of customers with negative ARPU did not churn, while only 4.8% of customers with negative ARPU churned.

* This suggests that having negative ARPU is not necessarily a strong predictor of churn. However, further analysis is needed to fully understand the relationship between negative ARPU and churn. Other factors, such as usage patterns, service subscriptions, and customer satisfaction, may also play a role in predicting churn.

* It's possible that the negative ARPU is a result of money spent by the company to retain customers but negative ARPU could also be a result of other factors, such as accounts that have been inactive for a long time or delinquent accounts with outstanding balances. 

* Additionally, the 4.8% of customers with negative ARPU who churned may have done so for reasons such as finding a better deal elsewhere.

In [ ]:
# Lets analyze further

negative_arpu_churn = df[(df['arpu'] < 0) & (df['Churn Value'] == 1)]

print("Number of customers with negative ARPU who churned: ", len(negative_arpu_churn['Customer ID']))

In [ ]:
# count plot of negative churned
plt.figure(figsize=(10,6))
sns.countplot(x='Satisfaction Score', hue='Churn Value', data=negative_arpu_churn)

# add labels and title
plt.xlabel('Satisfaction Score')
plt.ylabel('Count')
plt.title('Churn Status by Satisfaction Score')
plt.show()

In [ ]:
# calculate the average customer satisfaction score for this group
avg_satisfaction = negative_arpu_churn['Satisfaction Score'].mean()
print("Average customer satisfaction score:", round(avg_satisfaction,2))

**Observation**:

* The average customer satisfaction score for churned customers with negative ARPU is 2, it suggests that these customers were not satisfied with the services provided by the telecom company.

* It could mean that the company needs to improve its services and support to retain its customers.

In [ ]:
# count the number of customers for each churn reason
churn_reason_counts = negative_arpu_churn['Churn Reason'].value_counts()

# plot the churn reason counts
plt.figure(figsize=(16,6))
sns.barplot(x=churn_reason_counts.index, y=churn_reason_counts)
plt.title('Churn Reason for Customers with Negative ARPU and Churned')
plt.xlabel('Churn Reason')
plt.ylabel('Count')
plt.xticks(rotation=90)
plt.show()

**Observation**:

* The distribution of churn reasons is quite similar, which makes it difficult to draw clear conclusions. However, there are a few observations we can make.

* The most common reason for churn is "Unknown," which could suggest that the company needs to do a better job of tracking and understanding customer behavior and reasons for leaving.

* Other common reasons for churn include price, service dissatisfaction, and network reliability, which could indicate that the company needs to focus on improving the quality of its service and offering competitive pricing to retain customers.

* The fact that many customers cited competitor offerings as a reason for leaving suggests that the company may need to do a better job of differentiating itself in the market.

* The presence of unusual reasons such as "43tgeh" with only 16 counts could indicate data entry errors or outliers that should be investigated and corrected.

### **ARPU and Customer Demographics**

In [ ]:
# Plot arpu vs gender
plt.figure(figsize=(10,6))
sns.boxplot(x='Gender', y='arpu', data=df)
plt.title('ARPU for Genders')
plt.xlabel('ARPU')
plt.ylabel('Gender')
plt.show()

**Observation**:

* No relationship between Gender and ARPU.

In [ ]:
# Plot arpu vs married
plt.figure(figsize=(10,6))
sns.boxplot(x='Married', y='arpu', data=df)
plt.title('ARPU for Married Customers')
plt.xlabel('ARPU')
plt.ylabel('Married')
plt.show()

### **ARPU and Churn Value**

In [ ]:
# plot arpu vs churn

plt.figure(figsize=(10,6))
sns.boxplot(x='Churn Value', y='arpu', data=df)
plt.title('ARPU for Churned and Not Churned Customers')
plt.xlabel('ARPU')
plt.ylabel('Churn')
plt.show()

### **ARPU 4G**

In [ ]:
# Box plot for ARPU 4G against churn
plt.figure(figsize=(10,6))
sns.boxplot(x='Churn Value', y='arpu_4g', data=df)
plt.title('ARPU 4G vs Churn')
plt.show()

In [ ]:
# Scatter plot for ARPU 4G against total data usage
plt.figure(figsize=(10,6))
sns.scatterplot(x='vol_4g', y='arpu_4g', data=df)
plt.title('ARPU 4G vs Total Data Usage on 4G network')
plt.show()

**Observations**:

* Based on the boxplot of ARPU for 4G network versus total data usage on the 4G network, we can observe that there are some outliers in the upper left corner of the plot. These outliers indicate that there are some customers who have high ARPU despite low total data usage on the 4G network.

* One possible explanation for this observation could be that these customers are using other services besides data, such as voice and messaging, which are not measured in this analysis. Additionally, they could be subscribing to premium services, which are charged at a higher rate than regular data usage.

* Another possible explanation could be that these customers have a fixed data plan, meaning that they are charged a fixed amount of money regardless of their actual data usage. In this case, their high ARPU could be due to additional charges for services other than data.

* On the other hand, we can also observe that there are some customers with high total data usage on the 4G network but low ARPU. This could be due to various reasons such as low usage of other services, opting for cheaper data plans, or using other networks for services that are not provided on the 4G network.

### **ARPU 5G**

In [ ]:
# Box plot for ARPU 5G and Churn value
plt.figure(figsize=(10,6))
sns.boxplot(data=df, x='Churn Value', y='arpu_5g')
plt.title('ARPU 5G for Churn Values')
plt.show()

### **Night Pack User**

In [ ]:
# Box plot for Night pack user and ARPU
plt.figure(figsize=(10,6))
sns.boxplot(x='night_pck_user', y='arpu', data=df)
plt.title('Distribution of ARPU for Night Pack Users')
plt.show()

### **Chi Square Test for Association**


A sample's distribution of a categorical variable must frequently be compared to the distribution of a categorical variable in another sample.

The chi squared test of independence, often known as the chi squared test of association, is used to detect whether or not categorical variables are related. 

The data must meet the following requirements for this test:

* Categorical variables
* Sample size is relatively large
* Independent observations

The chi squared test is performed in the following steps:
* Find a "expected" number (E) for each observed number (0) in the table.

$$χ^2  = \frac{∑(O_i – E_i)^2}{E_i}$$

* A chi-square test will provide us with a p-value. The p-value indicates whether or not our test results are significant.

However, in order to do a chi-square test and calculate the p-value, we need two pieces of information:

* Degrees of freedom. That is simply the number of categories minus one.

* Significance Level. The standard alpha level is 0.05 (5%), but alternative values such as 0.01 or 0.10 are possible.

* The following are the different values of p that indicate different hypothesis interpretations:

* P = 0.05; Hypothesis is rejected
* P > 0.05; Acceptance of Hypothesis





For categorical features, we'll use a Chi Squared ($\chi^2$) test to observe whether each categorical feature pair is correlated.

First, we calculate the $\chi^2$ values, p-values and degrees of freedom:

In [ ]:
# Categorical variables
checkpoint('fcTel1')
cat_vars_for_test = [
 'Gender',
 'Married',
 'Dependents',
 'night_pck_user',
 'fb_user',
 'Referred a Friend',
 'Phone Service',
 'Multiple Lines',
 'Internet Service',
 'Internet Type',
 'Online Security',
 'Online Backup',
 'Device Protection Plan',
 'Premium Tech Support',
 'Streaming TV',
 'Streaming Movies',
 'Streaming Music',
 'Unlimited Data',
 'Churn Category',
 'offer']

In [ ]:
# Chi-square tests
from scipy.stats import chi2_contingency

for var in cat_vars_for_test:
    # Create binary encoded variables for categorical variable
    df_encoded = pd.get_dummies(df[var], prefix=var, drop_first=True)
    df_encoded['Churn Value'] = df['Churn Value']
    
    # Calculate chi-square test statistic and p-value
    chi2, p_val, dof, expected = chi2_contingency(pd.crosstab(df_encoded.iloc[:, 1], df_encoded['Churn Value']))
    
    if p_val < 0.05:
        print("---------------------------------")
        print(f'Statistically significant association between {var} and Churn')
        print('P-Value:', p_val)
    else:
        pass

### **Single Way ANOVA**

ANOVA, or Analysis of Variance, is a statistical method used to test whether there are significant differences between the means of two or more groups. It is a generalization of t-tests, which can only be used to compare two groups, and is commonly used in experimental design and analysis.

In order to perform ANOVA, you need at least one continuous variable and one categorical variable that separates your data into comparison groups. The test compares the variance of group means to the variance of the groups, which allows you to determine if the groups are part of a larger population or if they are separate populations with different means.

The null hypothesis for ANOVA is that all groups have the same mean, while the alternative hypothesis is that at least one group has a different mean. The test calculates $F$ values, which are the ratio of the between- and within-group mean squares, and p-values. The $F$ value is used to determine whether or not the means of the groups are significantly different, while the p-value is used to determine the probability of obtaining a certain $F$ value by chance.

It is important to note that ANOVA only tells you that there is a difference between groups, but not where the difference is. 

Overall, ANOVA is a powerful statistical tool that can help you understand whether there are significant differences between the means of different groups. It can be used in a wide range of fields, including biology, psychology, and engineering, to help researchers gain insights into their data and make informed decisions.

In [ ]:
from scipy.stats import f_oneway

# Loop over each numeric variable and test its association with churn using ANOVA
for var in num_vars:
    churn_yes = df[df['Churn Value'] == 1][var]
    churn_no = df[df['Churn Value'] == 0][var]
    f_statistic, p_value = f_oneway(churn_yes, churn_no)
    
    
    if p_value < 0.05:
        print('Statistically Significant')
        print('Variable:', var)
        print('Churn Yes Mean:', churn_yes.mean())
        print('Churn No Mean:', churn_no.mean())
        print('F-Statistic:', f_statistic)
        print('P-Value:', p_value)
        print('------------------')
    else:
        pass

### **Churn Value**

In [ ]:
# Box plot for Churn value and total recharge amount
plt.figure(figsize=(10,6))
sns.boxplot(x='Churn Value', y='total_rech_amt', data=df)
plt.title('Total recharge amount')
plt.show()

**Observation:**

It appears that customers who churned had a higher total recharge amount compared to customers who did not churn. This observation suggests that the amount of money that a customer spends on recharges may be a significant factor in their decision to churn.

This observation can provide valuable insights for the business. If customers who churned had a higher total recharge amount, it could mean that they were dissatisfied with the quality or value of the services provided by the company, even though they were spending more money. Therefore, the business may need to investigate and address the reasons behind the dissatisfaction to retain high-value customers.

In addition, the observation that customers who churned had a higher total recharge amount suggests that identifying and targeting high-value customers for retention efforts may be an effective strategy. By focusing on retaining customers who spend more money, the business can potentially improve their overall revenue and profitability.

### **Referred a friend and Churn**

**Hypothesis**:

* Customers who refer friends are less likely to churn.

In [ ]:
# pivot table
pivot_table = pd.pivot_table(df, values=['Referred a Friend', 'Number of Referrals'], index=['Churn Value'], aggfunc=np.mean)

# Print the pivot table
print(pivot_table)

# Plot the pivot table
plt.figure(figsize=(10,6))
sns.countplot( x='Referred a Friend', data=df, hue='Churn Value')
plt.title('Referred a Friend vs Churn Value')
plt.show()


plt.figure(figsize=(10,6))
sns.barplot(x='Churn Value', y='Number of Referrals', data=df)
plt.title('Number of Referrals vs Churn Value')
plt.show()

Let's calculate churn rate in both groups!

In [ ]:
refer_group = df.groupby("Referred a Friend")

refer_group_churn_rates = refer_group["Churn Value"].mean() * 100

refer_group_churn_rates

**Observation:**

If customers who have referred others to the company are churning more, it could suggest that the company's referral program is not effective at retaining customers. This may be due to a variety of reasons, such as:

The referral program may not be providing sufficient incentives or rewards to encourage customers to stay.
Customers who refer others may have higher expectations of the company and its services, and may be more likely to churn if those expectations are not met.

In [ ]:
# To make the analysis more thorough, we can combine the Phone Service column with other related columns such as Multiple Lines, Internet Service, and Internet Type. This would give us a better understanding of the customer's overall service usage.

# Cross-tabulate Phone Service with Multiple Lines
pd.crosstab(df['Phone Service'], df['Multiple Lines'], dropna=False)

### **Try it out - I**


By analyzing the phone service column, you can identify how many customers have opted for phone services and how it impacts churn rate and other variables. For example, you may find that a large proportion of customers who churned did not have phone services. This could indicate that offering phone services could be an effective way to improve customer retention.

On the other hand, you may find that customers with phone services are more likely to churn. This may indicate that there are issues with the phone services that need to be addressed.

To gain a more detailed understanding of the impact of phone services on customer behavior and churn rate, you can combine the phone service column with other variables such as demographics, usage patterns, and service types. This can help you identify specific customer segments that are more likely to benefit from phone services or may be more sensitive to phone service issues. For example, you may find that older customers are more likely to value phone services, or that customers who use a lot of data may be less likely to need phone services.

Overall, analyzing the phone service column can provide valuable insights into how offering phone services impacts customer behavior and can inform strategies to improve customer retention and satisfaction.

### **Internet Service and Type**

In [ ]:
# Count plot between internet service and type
plt.figure(figsize=(10,6))
sns.countplot(x='Internet Service', hue='Internet Type', data=df)
plt.title("Count plot for different Internet Types")
plt.show()

In [ ]:
# Internet service and type churn rate
df.groupby(['Internet Service', 'Internet Type'])['Churn Value'].mean()

**Observation:**

If the churn rates for all types of internet services are similar, it may indicate that the type of internet service does not have a significant impact on churn. However, it is also possible that there are other factors at play, such as pricing or customer service, that are more important drivers of churn. Further analysis, such as comparing the churn rates for different pricing tiers or customer service ratings, may be necessary to better understand the relationship between internet service and churn.

### **Unlimited Data**

In [ ]:
# distribution of data users for revenue
df.groupby('Unlimited Data')[['total_rech_amt','total_rech_data','arpu','Churn Value']].mean()

In [ ]:
# Plot a bar graph of the Streaming Movies column
plt.figure(figsize=(10,6))
sns.countplot(x='Streaming Movies', data=df, hue="Churn Value")
plt.title("Plot for churn value for different streaming movies")
plt.show()

The company may want to focus on increasing the percentage of customers using streaming movies by improving the quality of the service or offering promotions - check with ARPU, churn value and satisfaction.
if +ve effect on any of them, 

The company may want to investigate why such a large percentage of customers do not use streaming movies and address any concerns or issues that may be preventing them from using the service , understand why and recommend measures.

Hypothesis: Customers with higher ARPU 5G are more likely to be satisfied with their service and less likely to churn.

### **Try it out - II**

Try to experiment with these hypotheses and generate insights.


**Hypotheses**:

* Customers who have subscribed for premium services such as fiber optic internet, streaming movies, and device protection plan are more likely to have a higher satisfaction score.

* Customers who have a longer tenure with the company are more likely to have a higher satisfaction score.

## **Multivariate Analysis**

In [ ]:
# Relationship between arpu, satisfaction score and churn value
# the three major pillars of service quality
plt.figure(figsize=(10,6))
sns.scatterplot(data=df, x='Satisfaction Score',y='arpu', hue='Churn Value')
plt.title("Scatter Plot betwen Satisfaction Score and ARPU")
plt.show()

**Observation:**

* Based on the scatterplot, we can observe that the customers who have churned are mostly concentrated in the top left quadrant, where their satisfaction score is low but their average revenue per user (arpu) is high. This indicates that despite the customers generating high revenue, they are not satisfied with the service provided and hence are likely to churn.

* On the other hand, customers who are satisfied with the service and are less likely to churn are mostly concentrated in the bottom right quadrant, where their satisfaction score is high and their arpu is comparatively low.

* This information can be used by the telecom company to focus on improving the customer satisfaction score, as it is a key factor in retaining customers. They could analyze the reasons behind the low satisfaction score of high-paying customers and take measures to improve their overall experience. This could include providing better network coverage, offering customized plans, improving customer service, or providing incentives to loyal customers.

#### **Correlation**

Correlation coefficient is used to measure the strength of relationship between two variables. It indicates that as the value of one variable changes the other variable changes in a specific direction with some magnitude. There are various ways to find correlation between two variables, one of which is Pearson correlation coefficient.
It measures the linear relationship between two continuous variables.
 
Let's say $x$ and $y$ are two continuous variables, the Pearson correlation coefficient between them can be found by the following formula.
 
 
$$r = \frac{ \sum_{i=1}^{n}(x_i-\bar{x})(y_i-\bar{y}) }{%
        \sqrt{\sum_{i=1}^{n}(x_i-\bar{x})^2}\sqrt{\sum_{i=1}^{n}(y_i-\bar{y})^2}}$$
 
where $x_i$ and $y_i$ represents the $i^{th}$ value of the variables.
The value of $r$ ranges between $-1$ and $+1$.
 
Their strength of relationship is measured by the absolute value of coefficient, whereas the sign of the coefficient indicates the direction of the relationship.


#### **Graphs of Different Correlation Coefficients**
![correlation_plots.png]()

1. $r = -1$ indicates a perfect negative relationship between the variables 

2. $r = 0$ indicates no relationship between the variables

3. $r = 1$ indicates a perfect positive relationship between the variables

In [ ]:
mo_distance("fcTel1")
# Creating correlation dataframe and generating heatmap
df_corr = df[num_vars].corr()
mask = np.zeros_like(df_corr)
mask[np.triu_indices_from(mask)] = True

plt.figure(figsize=(20,12))
sns.heatmap(df_corr, cmap='coolwarm', annot=True, fmt='.2f', mask=mask)

In [ ]:
# Printing highly correlated variables
corr_pairs = []
for i in range(len(df_corr.columns)):
    for j in range(i):
        if abs(df_corr.iloc[i, j]) >= 0.5:
            corr_pairs.append((df_corr.columns[i], df_corr.columns[j]))


if corr_pairs:
    print("Highly correlated variable pairs:")
    for pair in corr_pairs:
        print(pair[0], "and", pair[1])
else:
    print("No highly correlated variable pairs found.")

### **Chatterjee Correlation**

Chatterjee correlation is a coefficient of correlation proposed by Sourav Chatterjee that measures the degree of dependence between two random variables without assuming anything about their distributions. It is a simple and interpretable measure of dependence that ranges between 0 and 1, where 0 indicates independence and 1 indicates that one variable is a measurable function of the other.

Compared to other correlation coefficients, the Chatterjee Correlation is less sensitive to outliers and non-linear relationships between variables. However, it requires more computational resources due to its non-parametric nature.


One advantage of the Chatterjee correlation is that it has a simple asymptotic theory under the hypothesis of independence, similar to classical coefficients like Pearson's and Spearman's correlations. This means that we can use it to test the null hypothesis of independence between two variables.

The calculation involves the following steps:

* Rank the values of Y in the data set, assigning the smallest value the rank of 1, the second smallest the rank of 2, and so on. Store these ranks in a new column called 'rank'.

* Rank the values of X in the data set, assigning the smallest value the rank of 1, the second smallest the rank of 2, and so on. Store these ranks in a new column called 'rank_x'.

* Sort the data set in increasing order of 'rank_x'.

* Calculate the absolute difference between the ranks of Y for consecutive values of X. Sum up these differences.

* Calculate the Chatterjee correlation coefficient using the formula:
Chatterjee correlation coefficient = 1 - 3 * (sum of absolute differences in ranks) / (N^2 - 1), where N is the number of observations in the data set.

* The resulting Chatterjee correlation coefficient is a number between 0 and 1, with 0 indicating no dependence between the two variables and 1 indicating complete dependence.


Here's a [link](https://arxiv.org/pdf/1909.10140.pdf) to the the paper.

In [ ]:
#function for finding chatterejee correlation coefficient
def chatterjee_corr(df,x,y):
  N=df.shape[0]
  df_rank=df

  df_rank['rank']=df_rank[y].rank()
  # print(df_rank['rank'])

  df_rank['rank_x']=df_rank[x].rank()

  df_rank=df_rank.sort_values(by='rank_x')

  # 1-3*(abs(sum(xri-1 - Xir))/n square-1

  # Diff function --> summation -> absolute
  chatt_corr=1- (3*df_rank['rank'].diff().abs().sum() )/ (pow(N,2)-1)

  return chatt_corr

In [ ]:
# Taking few important variables generated from the insights earlier
num_vars_test = ['Age','Number of Dependents','arpu','roam_ic',
                    'roam_og', 'total_rech_amt', 'total_rech_data', 'vol_4g', 'vol_5g', 'arpu_5g','arpu_4g',
                    'aug_vbc_5g','Number of Referrals','Streaming Data Consumption','Satisfaction Score']

In [ ]:
# Looping over all numerical variables to check chatterjee correlation
for i, var in enumerate(num_vars_test):
    for j in range(i + 1, len(num_vars_test)):
        corr = chatterjee_corr(df,var, num_vars_test[j])
        if corr > 0.6:
            print(var, 'and', num_vars_test[j], ':', corr)

**Observation**:

* Age and number of dependents have a moderate positive correlation (0.68). This suggests that as age increases, the number of dependents tends to increase as well.

* Total recharge data and arpu_5g have a moderate positive correlation (0.66). This suggests that customers who spend more on data tend to have higher revenue per user for 5G services.

* Total recharge data and arpu_4g have a moderate positive correlation (0.67). This suggests that customers who spend more on data tend to have higher revenue per user for 4G services.

* Vol_4g and vol_5g have a moderate positive correlation (0.63). This suggests that customers who use more 4G data tend to use more 5G data as well.

* Arpu_5g and arpu_4g have a strong positive correlation (0.75). This suggests that customers who spend more on 5G services tend to spend more on 4G services as well.

### **Try it out - III: Experiment with Data Processing and Feature Engineering Techniques**

* Start by selecting one or more variables from the dataset that have not been explored yet in the previous analyses. This could include variables related to customer behavior, usage patterns, or demographics.

* Explore the distribution of these variables using histograms, countplots, and boxplots.

* Identify any outliers or unusual patterns in the data that might need to be addressed before further analysis.

* Experiment with different data processing techniques such as scaling, normalization, or log transformation to see how they affect the distribution and relationships between variables.

* Consider feature engineering techniques such as creating new variables by combining existing ones, or encoding categorical variables using techniques such as one-hot encoding or label encoding.

* Use correlation analysis to investigate the relationships between the new variables and the target variable of customer churn.

* Compare the results of the new analysis with the previous analysis to see if the new variables or processing techniques provide any new insights into customer churn and satisfaction score.

* Draw conclusions and provide recommendations based on the new analysis and insights gained.

* Repeat the process with other variables in the dataset to explore different aspects of customer behavior and usage patterns.

## **Project Summary**

In this project, we analyzed a telecom dataset with the aim of identifying insights and making recommendations for the business. We performed univariate, bivariate, and multivariate analyses to identify patterns and relationships between various variables. 

Through EDA, we identified that the company lacks targeted marketing for specific customers, satisfaction scores are low, and the major reasons for churn were attitude of customer support and competition offering better deals. 
 
 
Our future scope includes implementing machine learning algorithms for predictive analysis, conducting A/B testing, and continuously monitoring and improving customer satisfaction.




### **Recommendations**:

* The company should focus on improving its customer support and services to reduce churn rates and increase customer satisfaction.

* The company should use the demographic and usage patterns of its customers to create targeted marketing campaigns that are more likely to resonate with specific customer segments.

* The company should consider offering incentives to customers who refer friends to use their services, as this can increase customer loyalty and bring in new customers.

* The company should explore ways to increase revenue from customers who generate less revenue, such as by offering targeted promotions or service upgrades.

* The company should continue to monitor its customer satisfaction score and take action to improve it.

## **Interview Questions**

* What is EDA, and why is it important in data analysis?

* What is the Central Limit Theorem, and why is it important in statistical inference?

* Can you explain the difference between correlation and causation?

* What are the different types of data, and how do they affect the analysis approach?

* How do you handle missing data in a dataset?

* What is skewness, and how does it affect data analysis?

* How do you identify and handle outliers in a dataset?

* What is the difference between hypothesis testing and confidence intervals?

* Can you explain the concepts of Type I and Type II errors in hypothesis testing?

* Can you explain the concept of p-values in hypothesis testing?

* How do you select the appropriate visualization technique for different types of data and analysis goals?

* What is Chatterjee Correlation?

## **Feedback**

In [4]:
feedback()